%h1 New Application Forms
.row
  .col-md-3
    = button_to 'Member Account', {controller: 'maapps', action: 'new'}, method: :get
  .col-md-3
    = button_to 'Unsecured Loan', 'ulapps/new', method: 'get'
  .col-md-3
    = button_to 'Auto Loan', new_alapp_path, method: 'get'
  .col-md-3
    = button_to 'Credit Builder Program', 'cbpapps/new', method: 'get'

%br
%h1 Index Forms
.row
  .col-md-3
    = button_to 'Member Account', 'maapps', method: 'get'
  .col-md-3
    = button_to 'Unsecured Loan', 'ulapps', method: 'get'
  .col-md-3
    = button_to 'Auto Loan', 'alapps', method: 'get'
  .col-md-3
    = button_to 'Credit Builder Program', 'cbpapps', method: 'get'
