.accordion
  .accordion-group
    %h4.text-center
      = "Account #{x}"
    .accordion-body
      .accordion-inner
        .row
          .span3
            %b Name of Depository
            %br
            = f.text_field :"account#{x}_depository", class:"input-medium"
          .span3
            %b Type of Account
            %br
            = f.select :"account#{x}_type", options_for_select(type_of_account, 'Checking'), class:"input-mini"
          .span2
            %b Current Balance
            %br
            = f.text_field :"account#{x}_current_balance", placeholder: "In US Dollars", class:"input-medium"
        %br