%br
.accordion
  .accordion-group
    %h4.text-center
      = "Account #{x}"
    .accordion-body
      .accordion-inner
        .row
          = render "text_field4", :f => f, :title => "Name of Depository", :var => "account#{x}_depository", :place_holder => "", :error_msg => ""
          .col-md-4
            %b Type of Account
            %br
            = f.select :"account#{x}_type", options_for_select(type_of_account, 'Checking'), {}, {class: "form-control"}
          = render "text_field4", :f => f, :title => "Current Balance", :var => "account#{x}_current_balance", :place_holder => "In US Dollars", :error_msg => "amount must be positive and in numeric form"
        %br