%br
.accordion
  .accordion-group
    %h4.text-center
      = "Additional Income #{x}"
    .accordion-body
      .accordion-inner
        .row
          = render "text_field4", :f => f, :title => "Source", :var => "add_income#{x}_source", :place_holder => ""
          = render "text_field3", :f => f, :title => "Amount", :var => "add_income#{x}_amount", :place_holder => "in US dollars"
          .col-md-5
            %b Frequency
            .form-inline
              = f.radio_button :"add_income#{x}_freq", "Weekly"
              &nbsp
              = f.label :"add_income#{x}_freq", "Weekly"
              &nbsp
              = f.radio_button :"add_income#{x}_freq", "Monthly"
              &nbsp
              = f.label :"add_income#{x}_freq", "Monthly"
              &nbsp
              = f.radio_button :"add_income#{x}_freq", "Yearly"
              &nbsp
              = f.label :"add_income#{x}_freq", "Yearly"
              &nbsp
%br