%br
.accordion
  .accordion-group
    %h4.text-center
      = "Additional Income #{x}"
    .accordion-body
      .accordion-inner
        .row
          = render "text_field4", :f => f, :title => "Source", :var => "add_income#{x}_source", :place_holder => "", :error_msg => ""
          = render "text_field3", :f => f, :title => "Amount", :var => "add_income#{x}_amount", :place_holder => "in US dollars", :error_msg => ""
          .col-md-5
            %b Frequency
            = render "radio_button", :f => f,
                                     :var => "add_income#{x}_freq",
                                     :list => ["Weekly", "Monthly", "Yearly"],
                                     :error_msg => ""