.accordion
  .accordion-group
    %h4.text-center
      = "Additional Income #{x}"
    .accordion-body
      .accordion-inner
        .row
          .span4
            %b Source
            %br
            = f.text_field :"add_income#{x}_source", class:"input-large"
          .span4
            %b Amount
            %br
            = f.text_field :"add_income#{x}_amount", placeholder:"in US dollars", class:"input-large"
        %br
        .row
          .span4
            %b Frequency
            .form-inline
              = f.radio_button :"add_income#{x}_freq", "Weekly"
              &nbsp
              = f.label :"add_income#{x}_freq", "Weekly"
              &nbsp
              = f.radio_button :"add_income#{x}_freq", "Monthly"
              &nbsp
              = f.label :"add_income#{x}_freq", "Monthly"
              &nbsp
              = f.radio_button :"add_income#{x}_freq", "Yearly"
              &nbsp
              = f.label :"add_income#{x}_freq", "Yearly"
              &nbsp