.accordion
  .accordion-group
    %h4.text-center 
      = "Credit Card #{x}"
    .accordion-body
      .accordion-inner
        .row
          .span12
            .span3
              %b Creditor Name
            .span3
              %b Credit Limit
            .span3
              %b Current Balance
        .row
          .span12
            .span3
              = f.text_field :"credit_card#{x}_name", class: "input-small"
            .span3
              = f.text_field :"credit_card#{x}_limit", class: "input-small"
            .span3
              = f.text_field :"credit_card#{x}_balance", class: "input-small"
        %br
        .row
          .span12
            .span3
              %b Date of Next Payment
            .span3
              %b Average Monthly Payment
            .span3
              %b Past Due
        .row
          .span12
            .span3
              = f.text_field :"credit_card#{x}_date_payment", class: "input-small"
            .span3
              = f.text_field :"credit_card#{x}_aveg_month_pay", class: "input-small"
            .span3
              .form-inline
                = f.radio_button :"credit_card#{x}_pastdue", true
                &nbsp
                = f.label :"credit_card#{x}_pastdue", "Yes"
                &nbsp
                = f.radio_button :"credit_card#{x}_pastdue", false
                &nbsp
                = f.label :"credit_card#{x}_pastdue", "No"
                &nbsp