.accordion
  .accordion-group
    %h4.text-center 
      = "Credit Card #{x}"
    .accordion-body
      .accordion-inner
        .row
          = render "text_field4", :f => f, :title => "Creditor Name", :var => "credit_card#{x}_name", :place_holder => "", :error_msg => ""
          = render "text_field4", :f => f, :title => "Credit Limit", :var => "credit_card#{x}_limit", :place_holder => "", :error_msg => ""
          = render "text_field4", :f => f, :title => "Credit Balance", :var => "credit_card#{x}_balance", :place_holder => "", :error_msg => ""
        %br
        .row
          = render "text_field4", :f => f, :title => "Average Monthly Payment", :var => "credit_card#{x}_aveg_month_pay", :place_holder => "", :error_msg => ""
          .col-md-4
            %b Date of Next Payment
            %br
            .col-md-12
              = f.input :"credit_card#{x}_date_payment", as: :date_picker, label: false
          .col-md-3
            %b Past Due
            %br
            .form-inline
              = render "radio_button", :f => f,
                                       :var => "credit_card#{x}_pastdue",
                                       :list => [["yes", true], ["no", false]],
                                       :error_msg => ""
%br