.accordion
  .accordion-group
    %h4.text-center 
      = "Credit Card #{x}"
    .accordion-body
      .accordion-inner
        .row
          = render "text_field4", :f => f, :title => "Creditor Name", :var => "credit_card#{x}_name", :place_holder => ""
          = render "text_field4", :f => f, :title => "Credit Limit", :var => "credit_card#{x}_limit", :place_holder => ""
          = render "text_field4", :f => f, :title => "Credit Balance", :var => "credit_card#{x}_balance", :place_holder => ""
        %br
        .row
          = render "text_field4", :f => f, :title => "Average Monthly Payment", :var => "credit_card#{x}_aveg_month_pay", :place_holder => ""
          .col-md-5
            %b Date of Next Payment
            %br
            = f.date_select :"credit_card#{x}_date_payment", class: "input-small"
          .col-md-3
            %b Past Due
            %br
            .form-inline
              = f.radio_button :"credit_card#{x}_pastdue", true
              &nbsp
              = f.label :"credit_card#{x}_pastdue", "Yes"
              &nbsp
              = f.radio_button :"credit_card#{x}_pastdue", false
              &nbsp
              = f.label :"credit_card#{x}_pastdue", "No"
              &nbsp
%br