#rootwizard
  %nav.navbar.navbar-default{:role => "navigation"}
    .container{style:"width:100%"}
      %ul.nav.nav-tabs.nav-justified{:role => "tablist"}
        %li
          %a{"data-toggle" => "tab", :href => "#tab1"} General Information
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} Incomes and Assets
        %li
          %a{"data-toggle" => "tab", :href => "#tab3"} Debts and Expenses
        %li
          %a{"data-toggle" => "tab", :href => "#tab4"} Supporting Documents
  .progress
    .progress-bar.progress-bar-success.progress-bar-striped.active.bar
  = simple_form_for @alapp, html: {class: "form-horizontal"} do |f|
    - if @alapp.errors.any?
      .text-center.alert.alert-danger.alert-error
        = "There are some problems in your application form, please correct them and submit again.\n"
        -#%ul
        -#  - @alapp.errors.full_messages.each do |msg|
        -#    %li= msg
    .tab-content
      #tab1.tab-pane
        %hr
        .well.white
          %h2.text-center General Information
          .row
            .col-md-12
              %strong Name*
              .row
                = render "text_field4", :f => f, :title => "First*", :var => "first", :place_holder => "John", :error_msg => "First name can't be blank"
                = render "text_field4", :f => f, :title => "Middle", :var => "middle", :place_holder => "", :error_msg => ""
                = render "text_field4", :f => f, :title => "Last*", :var => "last", :place_holder => "Smith", :error_msg => "Last name can't be blank"
          .row
            .col-md-12
              %b Date of birth*
              .row
                .col-md-4
                  .col-md-12
                    = f.input :dob, as: :date_picker, label: false
          .row
            = render "text_field4", :f => f, :title => "Social Security Number*", :var => "ssn", :place_holder => "#########", :error_msg => "SSN can't be blank, and it must be 9 digits with no other symbols, for example: 123456789"
          .row
            .col-md-12
              Please enter your SSN in the following format: ######### (nine digits).
              If you do not have an SSN, please enter 000000000.
          %br
          .row
            = render "text_field4", :f => f, :title => "Mother's Maiden Name*", :var => "mother_maiden", :place_holder => "", :error_msg => "Mother's maiden name can't be blank"
          .row
            .col-md-12
              %b Alumni*
              = render "radio_button", :f => f,
                                       :var => "alumni",
                                       :list => [["Yes", true], ["No", false]],
                                       :error_msg => "Are you an alumni of Penn?"
        %hr
        .well.white
          %h2.text-center Credit Request

          %b Type*
          .row
            .col-md-12
              = render "radio_button", :f => f,
                                       :var => "credit_req_type",
                                       :list => ["Individual Credit", "Joint Credit"],
                                       :error_msg => "You must select a credit request type"
          .row
            = render "text_field4", :f => f, :title => "Amount Requested*", :var => "mother_maiden", :place_holder => "In US dollars", :error_msg => "Amount is required (in dollars) and must be in numerical form"
          .row
            .col-md-12
              %b Term*
              = render "radio_button", :f => f,
                                       :var => "term",
                                       :list => ["36 months", "48 months", "60 months"],
                                       :error_msg => "Amount is required (in dollars) and must be a positive number"
        %hr

        .well.white
          %h2.text-center Vehicle Information

          .row
            .col-md-12
              %b Vehicle Condition*
              = render "radio_button", :f => f,
                                       :var => "vehicle_condition",
                                       :list => ["New", "Old"],
                                       :error_msg => "What is the condition of your vehicle?"
          .row
            .col-md-12
              %b Price Range*
              .row
                .col-md-4
                  Min
                  %br
                  .col-md-12
                    = f.input :price_range_min, placeholder: "In US dollars", label: false, error: "Price range is required and must be a positive number"
                .col-md-4
                  Max
                  %br
                  .col-md-12
                    = f.input :price_range_max, placeholder: "In US dollars", label: false, error: "Maximum price must be numeric and larger than minimum price"
          %br
          .row
            = render "select", f: f, title: "Model Year*", var: "model_year", list: (1800..2050), selected: 2014, error_msg: ""
          %br
          .row
            .col-md-12
              %b Vehicle Type*
          .row
            .col-md-12
              .col-md-2
                = f.input :veh_subcompact, as: :boolean, label: "subcompact", error: ""
              .col-md-2
                = f.input :veh_compact, as: :boolean, label: "compact", error: ""
              .col-md-2
                = f.input :veh_mid_size, as: :boolean, label: "middle size", error: ""
              .col-md-2
                = f.input :veh_full_size, as: :boolean, label: "full size", error: ""
          .row
            .col-md-12
              .col-md-2
                = f.input :veh_sports_car, as: :boolean, label: "sports car", error: ""
              .col-md-2
                = f.input :veh_truck, as: :boolean, label: "truck", error: ""
              .col-md-4
                = f.input :veh_van, as: :boolean, label: "van", error: "You must choose a vehicle type"
        %hr
        .well.white
          %h2.text-center Contact Information
          .row
            .col-md-12
              %b Local Address*
          = render "address", :f => f, :x => 'local', :y => "Local"
          .row
            .col-md-12.checkbox
              %label
                = f.check_box :same, {}, "1", "0"
                %b Permanent Address the same as Local Address?
          %br
          #permanent_address
            .row
              .col-md-12
                %b Permanent Address
            = render "address", :f => f, :x => 'perm', :y => "Permanent"
          .row
            .col-md-12
              .row
                = render "text_field4", :f => f, :title => "Email*", :var => "e_mail", :place_holder => "email", :error_msg => "Invalid email address"
                = render "text_field4", :f => f, :title => "Phone*", :var => "phone_number", :place_holder => "###-###-####", :error_msg => "Invalid phone number"
              .row
                = render "text_field4", :f => f, :title => "Name of Nearest Relative*", :var => "name_nearest_relative", :place_holder => "Name of your relative", :error_msg => "This field is required."
                = render "text_field4", :f => f, :title => "Phone of Nearest Relative*", :var => "phone_nearest_relative", :place_holder => "###-###-####", :error_msg => "Invalid phone number"
        %hr
        .well.white
          %h2.text-center Driver's License
          .row
            .col-md-12
              .row
                = render "text_field4", :f => f, :title => "Driver's License Number*", :var => "driver_lisence_num", :place_holder => "Your driver's license number", :error_msg => "Invalid driver's license."
              %br
              %b Driver's License
              .row
                .col-md-12
                  Please attach your driver's license in order to proceed with this application.
                  We cannot move forward with your auto loan application without a valid driver's license.
                  %br
                  = f.label :driver_license_file
                  = f.file_field :driver_license_file
      #tab2.tab-pane
        %hr
        .well.white
          %h2.text-center Employment
          .row
            .col-md-12
              Please list any sources of income and attach copies of verification.
          %div
            #employment_1
              = render "employ", :f => f, :x => 1
            #employment_2
              = render "employ", :f => f, :x => 2
            #employment_3
              = render "employ", :f => f, :x => 3
            #employment_4
              = render "employ", :f => f, :x => 4
          %br
          .row
            .col-md-4
              %button.btn.btn-primary{id: "add_employment", type: "button"} Add Another Employment
        %hr
        .well.white
          %h2.text-center Additional Income
          .row
            .col-md-12
              Please list any additional income or benefits, including parental allowance, investment accounts, etc and attach copies of verification. Alimony, separate maintenance, and child support need not be disclosed unless you desire them to be considered in determining your credit worthiness.
          %br
          %div
            #additional_income_1
              = render "add_income", :f => f, :x =>1
            #additional_income_2
              = render "add_income", :f => f, :x =>2
            #additional_income_3
              = render "add_income", :f => f, :x =>3
            #additional_income_4
              = render "add_income", :f => f, :x =>4
          %br
          .row
            .col-md-4
              %button.btn.btn-primary{id: "add_additional_income", type: "button"} Add Another Income
        %hr
        .well.white
          %h2.text-center Assets
          .row
            .col-md-12
              %b Bank Accounts
              Please provide statements for the last 2 months as verification if you would like the SFCU to consider balances in your bank account(s).
          %div
            #account_1
              = render "account", :f => f, :x =>1
            #account_2
              = render "account", :f => f, :x =>2
            #account_3
              = render "account", :f => f, :x =>3
            #account_4
              = render "account", :f => f, :x =>4
          .row
            .col-md-4
              %button.btn.btn-primary{id: "add_account", type: "button"} Add Another Account
          %br
          %br
          .row
            .col-md-12
              %b Property Owned
              %br
              Please provide copies of title(s) as verification.
          %br
          %div
            #property_1
              = render "property", :f => f, :x =>1
            #property_2
              = render "property", :f => f, :x =>2
            #property_3
              = render "property", :f => f, :x =>3
            #property_4
              = render "property", :f => f, :x =>4
          %br
          .row
            .col-md-4
              %button.btn.btn-primary{id: "add_property", type: "button"} Add Another Property Owned
      #tab3.tab-pane
        %hr
        .well.white
          %h2.text-center Outstanding Debts
          %h3.text-left Credit Cards
          .row
            .col-md-12
              Please provide any information on outstanding credit card(s) and credit card debt(s).
          %div
            %br
            #credit_card_1
              = render "credit_card", :f => f, :x =>1
            #credit_card_2
              = render "credit_card", :f => f, :x =>2
            #credit_card_3
              = render "credit_card", :f => f, :x =>3
            #credit_card_4
              = render "credit_card", :f => f, :x =>4
            %br
            .row
              .col-md-4
                %button.btn.btn-primary{id: "add_credit_card", type: "button"} Add Another Credit Card
          %br
          %h3.text-left Loans
          .row
            .col-md-12
              Please list all outstanding loans and associated monthly payments.
          %div
            %br
            #loan_1
              = render "loan", :f => f, :x =>1
            #loan_2
              = render "loan", :f => f, :x =>2
            #loan_3
              = render "loan", :f => f, :x =>3
            #loan_4
              = render "loan", :f => f, :x =>4
            %br
            .row
              .col-md-4
                %button.btn.btn-primary{id: "add_another_loan", type: "button"} Add Another Loan
        .well.white
          %h2.text-center Montly Expenses
          %br
          .row
            = render "text_field6", :f => f, :title => "Renting/Housing", :var => "rent_housing", :place_holder => "", :error_msg => "amount must be positive and in numeric form"
            .col-md-6
              If none, list the person who foots the expense
              = f.input :rent_person, label: false, error: ""
          %br
          .row
            = render "text_field6", :f => f, :title => "Food", :var => "utilities", :place_holder => "", :error_msg => "amount must be positive and in numeric form"
            .col-md-6
              If none, list the person who foots the expense
              = f.input :food_person, label: false, error: ""
          %br
          .row
            = render "text_field6", :f => f, :title => "Utilities", :var => "utilities", :place_holder => "", :error_msg => "amount must be positive and in numeric form"
            .col-md-6
              If none, list the person who foots the expense
              = f.input :utilities_person, label: false, error: ""
          %br
          .row
            = render "text_field6", :f => f, :title => "Phone Bill", :var => "phone_bill", :place_holder => "", :error_msg => "amount must be positive and in numeric form"
            .col-md-6
              If none, list the person who foots the expense
              = f.input :phone_bill_person, label: false, error: ""
          %br
          .row
            = render "text_field6", :f => f, :title => "Bursar Bill", :var => "bursar_bill", :place_holder => "", :error_msg => "amount must be positive and in numeric form"
            .col-md-6
              Please provide a copy of your bursar bill (in supporting documents), which can be obtained from Penn-in-Touch for our verification.
          %br
          .row
            = render "text_field6", :f => f, :title => "Miscellaneous", :var => "miscellaneous", :place_holder => "", :error_msg => "amount must be positive and in numeric form"
            .col-md-6
              Explanation of miscellaneous expenses
              = f.input :miscellaneous_expl, label: false, error: ""

      #tab4.tab-pane
        %br
        .well.white
          %h2.text-center Supporting Documents
          #file_option_1
            = render 'file', :f => f, :x => 1
          #file_option_2
            = render 'file', :f => f, :x => 2
          #file_option_3
            = render 'file', :f => f, :x => 3
          #file_option_4
            = render 'file', :f => f, :x => 4
          #file_option_5
            = render 'file', :f => f, :x => 5
          %br
          .row
            .col-md-4
              %button.btn.btn-primary{id: "add_another_file", type: "button"} Add Another File
        .well.white
          %h2.text-center Terms & Conditions
          %br
          You promise that everything you have stated in this application is correct to
          the best of your knowledge and that the above information is a complete listing
          of what you owe. If there are any important changes you will notify us in writing
          immediately. You authorize the SFCU to obtain credit reports in connection with this
          application for credit and for any update, increase, renewal, extension or collection
          of the credit received. You understand that the SFCU will rely on the information in
          this application and your credit report to make its decision. If you request, the
          SFCU will tell you the name and address of any credit bureau from which it received a
          credit report on you. It is a federal crime to willfully and deliberately provide
          incomplete or incorrect information on loan applications made to federal credit unions
          or state chartered credit unions insured by the NCUA.
          %br
          %br
          -#%b I have read this disclosure and understand and agree to all terms, conditions and
          -#%b requirements here stated.*
          %br
          .row
            .col-md-2.col-md-offset-3
              %b
                Agree Terms*
            .col-md-7
              %label
                = f.input :agree_terms, as: :boolean, label: "I have read this disclosure and understand and agree to all terms, conditions and requirements here stated.", error: ""
          .row
            .col-md-2.col-md-offset-3
              %b Signature*
            .col-md-4
              = f.input :signature, label: false, error: "You must agree the terms and sign in order to submit the form."
          .row
            .col-md-2.col-md-offset-3
              %b Today's date*
            .col-md-4
              = f.input :today_date, as: :date_picker, label: false, error: "Please enter today's date"
          %br
        .actions.text-center
          = f.submit 'Submit', class: "btn btn-primary"
        %hr
    %ul.pager.wizard
      %li.previous.first
        %a{:href => "javascript:;"} First
      %li.previous
        %a{:href => "javascript:;"} Previous
      %li.next.last
        %a{:href => "javascript:;"} Last
      %li.next
        %a{:href => "javascript:;"} Next
      %li.next.finish{:style => "display:none;"}
        %a{:href => "javascript:;"} Finish

:javascript
  $(document).ready(function() {
    	$('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
  		var $total = navigation.find('li').length;
  		var $current = index+1;
  		var $percent = ($current/$total) * 100;
  		$('#rootwizard').find('.bar').css({width:$percent+'%'});

  		for ( var i = 2; i <= 4; i++ ) {
            $("#employment_"+i).hide();
        }
        var $count_employment = 2;
        $('#add_employment').click(function(){
          $("#employment_"+$count_employment).show();
          $count_employment++;
          if ($count_employment>4){
            $('#add_employment').hide();
          }
        });

  		for ( var i = 2; i <= 4; i++ ) {
            $("#additional_income_"+i).hide();
        }
        var $count_additional_income = 2;
        $('#add_additional_income').click(function(){
          $("#additional_income_"+$count_additional_income).show();
          $count_additional_income++;
          if ($count_additional_income>4){
            $('#add_additional_income').hide();
          }
        });

  		for ( var i = 2; i <= 4; i++ ) {
            $("#account_"+i).hide();
        }
        var $count_account = 2;
        $('#add_account').click(function(){
          $("#account_"+$count_account).show();
          $count_account++;
          if ($count_account>4){
            $('#add_account').hide();
          }
        });

  		for ( var i = 2; i <= 4; i++ ) {
            $("#property_"+i).hide();
        }
        var $count_property = 2;
        $('#add_property').click(function(){
          $("#property_"+$count_property).show();
          $count_property++;
          if ($count_property>4){
            $('#add_property').hide();
          }
        });

  		for ( var i = 2; i <= 4; i++ ) {
            $("#credit_card_"+i).hide();
        }
        var $count_credit_card = 2;
        $('#add_credit_card').click(function(){
          $("#credit_card_"+$count_credit_card).show();
          $count_credit_card++;
          if ($count_credit_card>4){
            $('#add_credit_card').hide();
          }
        });

  		for ( var i = 2; i <= 4; i++ ) {
            $("#loan_"+i).hide();
        }
        var $count_loan = 2;
        $('#add_another_loan').click(function(){
          $("#loan_"+$count_loan).show();
          $count_loan++;
          if ($count_loan>4){
            $('#add_another_loan').hide();
          }
        });
  		for ( var i = 2; i <= 5; i++ ) {
            $("#file_option_"+i).hide();
        }
        var $count_file = 2;
        $('#add_another_file').click(function(){
          $("#file_option_"+$count_file).show();
          $count_file++;
          if ($count_file>5){
            $('#add_another_file').hide();
          }
        });
        $('#permanent_address').toggle(!$('#alapp_same').is(":checked"));
        $('#alapp_same').change(function(){
          if(this.checked){
            $("#permanent_address").hide();
          }else{
            $("#permanent_address").show();
          }
        });
  	}});
  });

