%br
.accordion
  .accordion-group
    %h4.text-center
      = "Loan #{x}"
    .accordion-body
      .accordion-inner
        .row
          = render "text_field4", :f => f, :title => "Creditor Name", :var => "loan#{x}_name", :place_holder => ""
          .col-md-4
            %b Loan Type
            %br
            = f.select :"loan#{x}_type", ([['Auto', 1], ['Business', 2], ['Homeowner', 3], ['Student', 4], ['Unsecured', 5], ['Other', 6]]), {}, {class: "form-control"}
          = render "text_field4", :f => f, :title => "Principal", :var => "loan#{x}_principal", :place_holder => ""
        %br
        .row
          = render "text_field4", :f => f, :title => "Monthly Payment", :var => "loan#{x}_month_payment", :place_holder => ""
          .col-md-5
            %b Date of Next Payment
            %br
            = f.date_select :"loan#{x}_date_payment", { start_year: Date.today.year, end_year: Date.today.year + 100 }
          .col-md-3
            %b Past Due
            %br
            .form-inline
              = f.radio_button :"loan#{x}_pastdue", true
              &nbsp
              = f.label :"loan#{x}_pastdue", "Yes"
              &nbsp
              = f.radio_button :"loan#{x}_pastdue", false
              &nbsp
              = f.label :"loan#{x}_pastdue", "No"
              &nbsp
%br