%br
.accordion
  .accordion-group
    %h4.text-center
      = "Loan #{x}"
    .accordion-body
      .accordion-inner
        .row
          = render "text_field4", :f => f, :title => "Creditor Name", :var => "loan#{x}_name", :place_holder => "", :error_msg => ""
          .col-md-4
            %b Loan Type
            %br
            = f.select :"loan#{x}_type", ([['Auto', 1], ['Business', 2], ['Homeowner', 3], ['Student', 4], ['Unsecured', 5], ['Other', 6]]), {}, {class: "form-control"}
          = render "text_field4", :f => f, :title => "Principal", :var => "loan#{x}_principal", :place_holder => "", :error_msg => ""
        %br
        .row
          = render "text_field4", :f => f, :title => "Monthly Payment", :var => "loan#{x}_month_payment", :place_holder => "", :error_msg => "amount must be positive and in numeric form"
          .col-md-4
            %b Date of Next Payment
            %br
            .col-md-12
              = f.input :"loan#{x}_date_payment", as: :date_picker, label: false
          .col-md-3
            %b Past Due
            %br
            = render "radio_button", :f => f,
                                     :var => "loan#{x}_pastdue",
                                     :list => [["yes", true], ["no", false]],
                                     :error_msg => ""
%br