.accordion
  .accordion-group
    %h4.text-center
      = "Property Owned #{x}"
    .accordion-body
      .accordion-inner
        .row
          = render "text_field4", :f => f, :title => "Street Address", :var => "property#{x}_st_addr", :place_holder => ""
          = render "text_field4", :f => f, :title => "City", :var => "property#{x}_city", :place_holder => ""
          .col-md-4
            %b State
            %br
            = f.select :"property#{x}_state", options_for_select(us_states), {}, {class: "form-control"}
        %br
        .row
          = render "text_field4", :f => f, :title => "Market Value", :var => "property#{x}_market_val", :place_holder => ""
          .col-md-6
            %b Pledged as Collateral for Another Loan?
            .form-inline
              = f.radio_button :"property#{x}_another_loan", true
              &nbsp
              = f.label :"property#{x}_another_loan_yes", "Yes"
              &nbsp
              = f.radio_button :"property#{x}_another_loan", false
              &nbsp
              = f.label :"property#{x}_another_loan_no", "No"
              &nbsp