

= form_tag url_for(:controller => 'alapps', :action => 'export'), method: 'get' do
  -#- unless @error.nil?
  -#  #error_explanation
  -#    = @error
  %table.table.table-hover.col-md-12
    %tr
      %th.col-md-1
      %th.col-md-2 Date Submitted
      %th.col-md-1 Applicant
      %th.col-md-2 Loan Amount($)
      %th.col-md-3 Status
      %th.col-md-1
      %th.col-md-1

    - @alapps.each do |applicant|
      %tr{:class => "#{if applicant.application_status == 'Unprocessed' then 'active' elsif applicant.application_status == 'Processed' then 'success' else 'info' end}"}
      %tr
        %td= check_box_tag 'exports[]', applicant.id, false, id: "exports_#{applicant.id}", class: "checkbox"
        %td= label_tag "exports_#{applicant.id}", applicant.created_at.strftime('%Y-%m-%d')
        %td= label_tag "exports_#{applicant.id}", applicant.first + ' ' + applicant.last
        %td= label_tag "exports_#{applicant.id}", applicant.amount_req.to_s
        %td.text-center= form_for applicant do |f| f.select :application_status, options_for_select([ "Unprocessed", "Processed", "Hold" ], applicant.application_status), {}, id: "status_#{applicant.id}", :onchange => 'this.form.submit()' end
        %td= link_to 'Show', applicant
        -#%td= link_to 'Save', save_alapp_url(applicant), :method => :post
        %td= link_to 'Destroy', applicant, :method => :delete, :data => { :confirm => 'Are you sure?' }
  %br
    = submit_tag 'Export', id: "export_button", class: "btn btn-primary"
    = button_tag
:javascript
  $(document).ready(function() {

    $('#export_button').click(function(){
      var empty = true;
      var checkboxes = document.getElementsByName('exports[]');
      for(var i = 0, n = checkboxes.length;i < n; i++) {
        if(checkboxes[i].checked) {
          empty = false;
          break;
        }
      }
      if(empty) {
        alert("No application selected");

      }
    }
    );
  });


