%h1 Listing alapps

%table
  %tr
    %th First
    %th Middle
    %th Last
    %th Dob
    %th Mother maiden
    %th Ssn
    %th Alumni
    %th Credit req type
    %th Amount req
    %th Term
    %th Vehicle condition
    %th Price range min
    %th Price range max
    %th Model year
    %th Veh subcompact
    %th Veh compact
    %th Veh mid size
    %th Veh full size
    %th Veh sports car
    %th Veh truck
    %th Veh van
    %th Local address line1
    %th Local address line2
    %th Local address city
    %th Local address state
    %th Local address zip
    %th Local country
    %th Perm address line1
    %th Perm address line2
    %th Perm address city
    %th Perm address state
    %th Perm address zip
    %th Perm country
    %th E mail
    %th Phone number
    %th Name nearest relative
    %th Phone nearest relative
    %th Driver lisence num
    %th Driver license file
    %th Employ1 employer
    %th Employ1 employer addr
    %th Employ1 position
    %th Employ1 supervisor
    %th Employ1 grosspay
    %th Employ1 freq
    %th Employ1 continue
    %th Employ1 expect duration
    %th Employ2 employer
    %th Employ2 employer addr
    %th Employ2 position
    %th Employ2 supervisor
    %th Employ2 grosspay
    %th Employ2 freq
    %th Employ2 continue
    %th Employ2 expect duration
    %th Add income1 source
    %th Add income1 amount
    %th Add income1 freq
    %th Add income2 source
    %th Add income2 amount
    %th Add income2 freq
    %th Add income3 source
    %th Add income3 amount
    %th Add income3 freq
    %th Account1 depository
    %th Account1 type
    %th Account1 current balance
    %th Account2 depository
    %th Account2 type
    %th Account2 current balance
    %th Account3 depository
    %th Account3 type
    %th Account3 current balance
    %th Account4 depository
    %th Account4 type
    %th Account4 current balance
    %th Property1 st addr
    %th Property1 city
    %th Property1 state
    %th Property1 market val
    %th Property1 another loan
    %th Property2 st addr
    %th Property2 city
    %th Property2 state
    %th Property2 market val
    %th Property2 another loan
    %th Credit card1 name
    %th Credit card1 limit
    %th Credit card1 balance
    %th Credit card1 date payment
    %th Credit card1 aveg month pay
    %th Credit card1 pastdue
    %th Credit card2 name
    %th Credit card2 limit
    %th Credit card2 balance
    %th Credit card2 date payment
    %th Credit card2 aveg month pay
    %th Credit card2 pastdue
    %th Credit card3 name
    %th Credit card3 limit
    %th Credit card3 balance
    %th Credit card3 date payment
    %th Credit card3 aveg month pay
    %th Credit card3 pastdue
    %th Credit card4 name
    %th Credit card4 limit
    %th Credit card4 balance
    %th Credit card4 date payment
    %th Credit card4 aveg month pay
    %th Credit card4 pastdue
    %th Loan1 name
    %th Loan1 type
    %th Loan1 principal
    %th Loan1 date payment
    %th Loan1 month payment
    %th Loan1 pastdue
    %th Loan2 name
    %th Loan2 type
    %th Loan2 principal
    %th Loan2 date payment
    %th Loan2 month payment
    %th Loan2 pastdue
    %th Loan3 name
    %th Loan3 type
    %th Loan3 principal
    %th Loan3 date payment
    %th Loan3 month payment
    %th Loan3 pastdue
    %th Loan4 name
    %th Loan4 type
    %th Loan4 principal
    %th Loan4 date payment
    %th Loan4 month payment
    %th Loan4 pastdue
    %th Rent housing
    %th Rent person
    %th Food
    %th Food person
    %th Utilities
    %th Utilities person
    %th Phone bill
    %th Phone bill person
    %th Bursar bill
    %th Miscellaneous
    %th Miscellaneous expl
    %th Document1
    %th Document2
    %th Document3
    %th Document4
    %th Document5
    %th Agree terms
    %th Signature
    %th Today date
    %th
    %th
    %th

  - @alapps.each do |alapp|
    %tr
      %td= alapp.first
      %td= alapp.middle
      %td= alapp.last
      %td= alapp.dob
      %td= alapp.mother_maiden
      %td= alapp.ssn
      %td= alapp.alumni
      %td= alapp.credit_req_type
      %td= alapp.amount_req
      %td= alapp.term
      %td= alapp.vehicle_condition
      %td= alapp.price_range_min
      %td= alapp.price_range_max
      %td= alapp.model_year
      %td= alapp.veh_subcompact
      %td= alapp.veh_compact
      %td= alapp.veh_mid_size
      %td= alapp.veh_full_size
      %td= alapp.veh_sports_car
      %td= alapp.veh_truck
      %td= alapp.veh_van
      %td= alapp.local_address_line1
      %td= alapp.local_address_line2
      %td= alapp.local_address_city
      %td= alapp.local_address_state
      %td= alapp.local_address_zip
      %td= alapp.local_country
      %td= alapp.perm_address_line1
      %td= alapp.perm_address_line2
      %td= alapp.perm_address_city
      %td= alapp.perm_address_state
      %td= alapp.perm_address_zip
      %td= alapp.perm_country
      %td= alapp.e_mail
      %td= alapp.phone_number
      %td= alapp.name_nearest_relative
      %td= alapp.phone_nearest_relative
      %td= alapp.driver_lisence_num
      %td= alapp.driver_license_file
      %td= alapp.employ1_employer
      %td= alapp.employ1_employer_addr
      %td= alapp.employ1_position
      %td= alapp.employ1_supervisor
      %td= alapp.employ1_grosspay
      %td= alapp.employ1_freq
      %td= alapp.employ1_continue
      %td= alapp.employ1_expect_duration
      %td= alapp.employ2_employer
      %td= alapp.employ2_employer_addr
      %td= alapp.employ2_position
      %td= alapp.employ2_supervisor
      %td= alapp.employ2_grosspay
      %td= alapp.employ2_freq
      %td= alapp.employ2_continue
      %td= alapp.employ2_expect_duration
      %td= alapp.add_income1_source
      %td= alapp.add_income1_amount
      %td= alapp.add_income1_freq
      %td= alapp.add_income2_source
      %td= alapp.add_income2_amount
      %td= alapp.add_income2_freq
      %td= alapp.add_income3_source
      %td= alapp.add_income3_amount
      %td= alapp.add_income3_freq
      %td= alapp.account1_depository
      %td= alapp.account1_type
      %td= alapp.account1_current_balance
      %td= alapp.account2_depository
      %td= alapp.account2_type
      %td= alapp.account2_current_balance
      %td= alapp.account3_depository
      %td= alapp.account3_type
      %td= alapp.account3_current_balance
      %td= alapp.account4_depository
      %td= alapp.account4_type
      %td= alapp.account4_current_balance
      %td= alapp.property1_st_addr
      %td= alapp.property1_city
      %td= alapp.property1_state
      %td= alapp.property1_market_val
      %td= alapp.property1_another_loan
      %td= alapp.property2_st_addr
      %td= alapp.property2_city
      %td= alapp.property2_state
      %td= alapp.property2_market_val
      %td= alapp.property2_another_loan
      %td= alapp.credit_card1_name
      %td= alapp.credit_card1_limit
      %td= alapp.credit_card1_balance
      %td= alapp.credit_card1_date_payment
      %td= alapp.credit_card1_aveg_month_pay
      %td= alapp.credit_card1_pastdue
      %td= alapp.credit_card2_name
      %td= alapp.credit_card2_limit
      %td= alapp.credit_card2_balance
      %td= alapp.credit_card2_date_payment
      %td= alapp.credit_card2_aveg_month_pay
      %td= alapp.credit_card2_pastdue
      %td= alapp.credit_card3_name
      %td= alapp.credit_card3_limit
      %td= alapp.credit_card3_balance
      %td= alapp.credit_card3_date_payment
      %td= alapp.credit_card3_aveg_month_pay
      %td= alapp.credit_card3_pastdue
      %td= alapp.credit_card4_name
      %td= alapp.credit_card4_limit
      %td= alapp.credit_card4_balance
      %td= alapp.credit_card4_date_payment
      %td= alapp.credit_card4_aveg_month_pay
      %td= alapp.credit_card4_pastdue
      %td= alapp.loan1_name
      %td= alapp.loan1_type
      %td= alapp.loan1_principal
      %td= alapp.loan1_date_payment
      %td= alapp.loan1_month_payment
      %td= alapp.loan1_pastdue
      %td= alapp.loan2_name
      %td= alapp.loan2_type
      %td= alapp.loan2_principal
      %td= alapp.loan2_date_payment
      %td= alapp.loan2_month_payment
      %td= alapp.loan2_pastdue
      %td= alapp.loan3_name
      %td= alapp.loan3_type
      %td= alapp.loan3_principal
      %td= alapp.loan3_date_payment
      %td= alapp.loan3_month_payment
      %td= alapp.loan3_pastdue
      %td= alapp.loan4_name
      %td= alapp.loan4_type
      %td= alapp.loan4_principal
      %td= alapp.loan4_date_payment
      %td= alapp.loan4_month_payment
      %td= alapp.loan4_pastdue
      %td= alapp.rent_housing
      %td= alapp.rent_person
      %td= alapp.food
      %td= alapp.food_person
      %td= alapp.utilities
      %td= alapp.utilities_person
      %td= alapp.phone_bill
      %td= alapp.phone_bill_person
      %td= alapp.bursar_bill
      %td= alapp.miscellaneous
      %td= alapp.miscellaneous_expl
      %td= alapp.document1
      %td= alapp.document2
      %td= alapp.document3
      %td= alapp.document4
      %td= alapp.document5
      %td= alapp.agree_terms
      %td= alapp.signature
      %td= alapp.today_date
      %td= link_to 'Show', alapp
      %td= link_to 'Edit', edit_alapp_path(alapp)
      %td= link_to 'Destroy', alapp, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Alapp', new_alapp_path
