.panel.panel-default
  .panel-heading
    %h1.panel-title.text-center Unsecured Loan Application
  .panel-body
    %p
      %b
        = attributes_translator[:first] + ": "
    %p
      %b
        = attributes_translator[:middle] + ": "
    %p
      %b
        = attributes_translator[:last] + ": "
    %p
      %b
        = attributes_translator[:dob] + ": "
    %p
      %b
        = attributes_translator[:mother_maiden] + ": "
    %p
      %b
        = attributes_translator[:ssn] + ": "
    %p
      %b
        = attributes_translator[:alumni] + ": "
    %p
      %b
        = attributes_translator[:credit_req_type] + ": "
    %p
      %b
        = attributes_translator[:amount_req] + ": "
    %p
      %b
        = attributes_translator[:term] + ": "
    %p
      %b
        = attributes_translator[:vehicle_condition] + ": "
    %p
      %b
        = attributes_translator[:price_range_min] + ": "
    %p
      %b
        = attributes_translator[:price_range_max] + ": "
    %p
      %b
        = attributes_translator[:model_year] + ": "
    %p
      %b
        = attributes_translator[:veh_subcompact] + ": "
    %p
      %b
        = attributes_translator[:veh_compact] + ": "
    %p
      %b
        = attributes_translator[:veh_mid_size] + ": "
    %p
      %b
        = attributes_translator[:veh_full_size] + ": "
    %p
      %b
        = attributes_translator[:veh_sports_car] + ": "
    %p
      %b
        = attributes_translator[:veh_truck] + ": "
    %p
      %b
        = attributes_translator[:veh_van] + ": "
    %p
      %b
        = attributes_translator[:local_address_line1] + ": "
    %p
      %b
        = attributes_translator[:local_address_line2] + ": "
    %p
      %b
        = attributes_translator[:local_address_city] + ": "
    %p
      %b
        = attributes_translator[:local_address_state] + ": "
    %p
      %b
        = attributes_translator[:local_address_zip] + ": "
    %p
      %b
        = attributes_translator[:local_country] + ": "
    %p
      %b
        = attributes_translator[:perm_address_line1] + ": "
    %p
      %b
        = attributes_translator[:perm_address_line2] + ": "
    %p
      %b
        = attributes_translator[:perm_address_city] + ": "
    %p
      %b
        = attributes_translator[:perm_address_state] + ": "
    %p
      %b
        = attributes_translator[:perm_address_zip] + ": "
    %p
      %b
        = attributes_translator[:perm_country] + ": "
    %p
      %b
        = attributes_translator[:e_mail] + ": "
    %p
      %b
        = attributes_translator[:phone_number] + ": "
    %p
      %b
        = attributes_translator[:name_nearest_relative] + ": "
    %p
      %b
        = attributes_translator[:phone_nearest_relative] + ": "
    %p
      %b
        = attributes_translator[:driver_lisence_num] + ": "
    %p
      %b
        = attributes_translator[:driver_license_file] + ": "
    %p
      %b
        = attributes_translator[:employ1_employer] + ": "
    %p
      %b
        = attributes_translator[:employ1_employer_addr] + ": "
    %p
      %b
        = attributes_translator[:employ1_position] + ": "
    %p
      %b
        = attributes_translator[:employ1_supervisor] + ": "
    %p
      %b
        = attributes_translator[:employ1_grosspay] + ": "
    %p
      %b
        = attributes_translator[:employ1_freq] + ": "
    %p
      %b
        = attributes_translator[:employ1_continue] + ": "
    %p
      %b
        = attributes_translator[:employ1_expect_duration] + ": "
    %p
      %b
        = attributes_translator[:employ2_employer] + ": "
    %p
      %b
        = attributes_translator[:employ2_employer_addr] + ": "
    %p
      %b
        = attributes_translator[:employ2_position] + ": "
    %p
      %b
        = attributes_translator[:employ2_supervisor] + ": "
    %p
      %b
        = attributes_translator[:employ2_grosspay] + ": "
    %p
      %b
        = attributes_translator[:employ2_freq] + ": "
    %p
      %b
        = attributes_translator[:employ2_continue] + ": "
    %p
      %b
        = attributes_translator[:employ2_expect_duration] + ": "
    %p
      %b
        = attributes_translator[:add_income1_source] + ": "
    %p
      %b
        = attributes_translator[:add_income1_amount] + ": "
    %p
      %b
        = attributes_translator[:add_income1_freq] + ": "
    %p
      %b
        = attributes_translator[:add_income2_source] + ": "
    %p
      %b
        = attributes_translator[:add_income2_amount] + ": "
    %p
      %b
        = attributes_translator[:add_income2_freq] + ": "
    %p
      %b
        = attributes_translator[:add_income3_source] + ": "
    %p
      %b
        = attributes_translator[:add_income3_amount] + ": "
    %p
      %b
        = attributes_translator[:add_income3_freq] + ": "
    %p
      %b
        = attributes_translator[:account1_depository] + ": "
    %p
      %b
        = attributes_translator[:account1_type] + ": "
    %p
      %b
        = attributes_translator[:account1_current_balance] + ": "
    %p
      %b
        = attributes_translator[:account2_depository] + ": "
    %p
      %b
        = attributes_translator[:account2_type] + ": "
    %p
      %b
        = attributes_translator[:account2_current_balance] + ": "
    %p
      %b
        = attributes_translator[:account3_depository] + ": "
    %p
      %b
        = attributes_translator[:account3_type] + ": "
    %p
      %b
        = attributes_translator[:account3_current_balance] + ": "
    %p
      %b
        = attributes_translator[:account4_depository] + ": "
    %p
      %b
        = attributes_translator[:account4_type] + ": "
    %p
      %b
        = attributes_translator[:account4_current_balance] + ": "
    %p
      %b
        = attributes_translator[:property1_st_addr] + ": "
    %p
      %b
        = attributes_translator[:property1_city] + ": "
    %p
      %b
        = attributes_translator[:property1_state] + ": "
    %p
      %b
        = attributes_translator[:property1_market_val] + ": "
    %p
      %b
        = attributes_translator[:property1_another_loan] + ": "
    %p
      %b
        = attributes_translator[:property2_st_addr] + ": "
    %p
      %b
        = attributes_translator[:property2_city] + ": "
    %p
      %b
        = attributes_translator[:property2_state] + ": "
    %p
      %b
        = attributes_translator[:property2_market_val] + ": "
    %p
      %b
        = attributes_translator[:property2_another_loan] + ": "
    %p
      %b
        = attributes_translator[:credit_card1_name] + ": "
    %p
      %b
        = attributes_translator[:credit_card1_limit] + ": "
    %p
      %b
        = attributes_translator[:credit_card1_balance] + ": "
    %p
      %b
        = attributes_translator[:credit_card1_date_payment] + ": "
    %p
      %b
        = attributes_translator[:credit_card1_aveg_month_pay] + ": "
    %p
      %b
        = attributes_translator[:credit_card1_pastdue] + ": "
    %p
      %b
        = attributes_translator[:credit_card2_name] + ": "
    %p
      %b
        = attributes_translator[:credit_card2_limit] + ": "
    %p
      %b
        = attributes_translator[:credit_card2_balance] + ": "
    %p
      %b
        = attributes_translator[:credit_card2_date_payment] + ": "
    %p
      %b
        = attributes_translator[:credit_card2_aveg_month_pay] + ": "
    %p
      %b
        = attributes_translator[:credit_card2_pastdue] + ": "
    %p
      %b
        = attributes_translator[:credit_card3_name] + ": "
    %p
      %b
        = attributes_translator[:credit_card3_limit] + ": "
    %p
      %b
        = attributes_translator[:credit_card3_balance] + ": "
    %p
      %b
        = attributes_translator[:credit_card3_date_payment] + ": "
    %p
      %b
        = attributes_translator[:credit_card3_aveg_month_pay] + ": "
    %p
      %b
        = attributes_translator[:credit_card3_pastdue] + ": "
    %p
      %b
        = attributes_translator[:credit_card4_name] + ": "
    %p
      %b
        = attributes_translator[:credit_card4_limit] + ": "
    %p
      %b
        = attributes_translator[:credit_card4_balance] + ": "
    %p
      %b
        = attributes_translator[:credit_card4_date_payment] + ": "
    %p
      %b
        = attributes_translator[:credit_card4_aveg_month_pay] + ": "
    %p
      %b
        = attributes_translator[:credit_card4_pastdue] + ": "
    %p
      %b
        = attributes_translator[:loan1_name] + ": "
    %p
      %b
        = attributes_translator[:loan1_type] + ": "
    %p
      %b
        = attributes_translator[:loan1_principal] + ": "
    %p
      %b
        = attributes_translator[:loan1_date_payment] + ": "
    %p
      %b
        = attributes_translator[:loan1_month_payment] + ": "
    %p
      %b
        = attributes_translator[:loan1_pastdue] + ": "
    %p
      %b
        = attributes_translator[:loan2_name] + ": "
    %p
      %b
        = attributes_translator[:loan2_type] + ": "
    %p
      %b
        = attributes_translator[:loan2_principal] + ": "
    %p
      %b
        = attributes_translator[:loan2_date_payment] + ": "
    %p
      %b
        = attributes_translator[:loan2_month_payment] + ": "
    %p
      %b
        = attributes_translator[:loan2_pastdue] + ": "
    %p
      %b
        = attributes_translator[:loan3_name] + ": "
    %p
      %b
        = attributes_translator[:loan3_type] + ": "
    %p
      %b
        = attributes_translator[:loan3_principal] + ": "
    %p
      %b
        = attributes_translator[:loan3_date_payment] + ": "
    %p
      %b
        = attributes_translator[:loan3_month_payment] + ": "
    %p
      %b
        = attributes_translator[:loan3_pastdue] + ": "
    %p
      %b
        = attributes_translator[:loan4_name] + ": "
    %p
      %b
        = attributes_translator[:loan4_type] + ": "
    %p
      %b
        = attributes_translator[:loan4_principal] + ": "
    %p
      %b
        = attributes_translator[:loan4_date_payment] + ": "
    %p
      %b
        = attributes_translator[:loan4_month_payment] + ": "
    %p
      %b
        = attributes_translator[:loan4_pastdue] + ": "
    %p
      %b
        = attributes_translator[:rent_housing] + ": "
    %p
      %b
        = attributes_translator[:rent_person] + ": "
    %p
      %b
        = attributes_translator[:food] + ": "
    %p
      %b
        = attributes_translator[:food_person] + ": "
    %p
      %b
        = attributes_translator[:utilities] + ": "
    %p
      %b
        = attributes_translator[:utilities_person] + ": "
    %p
      %b
        = attributes_translator[:phone_bill] + ": "
    %p
      %b
        = attributes_translator[:phone_bill_person] + ": "
    %p
      %b
        = attributes_translator[:bursar_bill] + ": "
    %p
      %b
        = attributes_translator[:miscellaneous] + ": "
    %p
      %b
        = attributes_translator[:miscellaneous_expl] + ": "
    %p
      %b
        = attributes_translator[:document1] + ": "
    %p
      %b
        = attributes_translator[:document2] + ": "
    %p
      %b
        = attributes_translator[:document3] + ": "
    %p
      %b
        = attributes_translator[:document4] + ": "
    %p
      %b
        = attributes_translator[:document5] + ": "
    %p
      %b
        = attributes_translator[:agree_terms] + ": "
    %p
      %b
        = attributes_translator[:signature] + ": "
    %p
      %b
        = attributes_translator[:today_date] + ": "

    %p
      %b
        = attributes_translator[:application_status] + ": "

= link_to 'Edit', edit_alapp_path(@alapp)
\|
= link_to 'Back', alapps_path
