= form_for @maapp do |f|
  - if @maapp.errors.any?
    #error_explanation
      %h2= "#{pluralize(@maapp.errors.count, "error")} prohibited this maapp from being saved:"
      %ul
        - @maapp.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :first_name
    = f.text_field :first_name
  .field
    = f.label :middle_name
    = f.text_field :middle_name
  .field
    = f.label :last_name
    = f.text_field :last_name
  .field
    = f.label :dob
    = f.date_select :dob
  .field
    = f.label :student_status
    = f.text_field :student_status
  .field
    = f.label :penn_affiliation
    = f.text_field :penn_affiliation
  .field
    = f.label :grad_year
    = f.number_field :grad_year
  .field
    = f.label :penn_id
    = f.text_field :penn_id
  .field
    = f.label :ssn
    = f.text_field :ssn
  .field
    = f.label :W8BEN_form
    = f.text_field :W8BEN_form
  .field
    = f.label :doc_type
    = f.text_field :doc_type
  .field
    = f.label :doc_id
    = f.text_field :doc_id
  .field
    = f.label :file_id1
    = f.text_field :file_id1
  .field
    = f.label :file_id2
    = f.text_field :file_id2
  .field
    = f.label :mobile_phone
    = f.text_field :mobile_phone
  .field
    = f.label :home_phone
    = f.text_field :home_phone
  .field
    = f.label :penn_email
    = f.text_field :penn_email
  .field
    = f.label :alter_email
    = f.text_field :alter_email
  .field
    = f.label :local_address_line1
    = f.text_field :local_address_line1
  .field
    = f.label :local_address_line2
    = f.text_field :local_address_line2
  .field
    = f.label :local_address_city
    = f.text_field :local_address_city
  .field
    = f.label :local_address_state
    = f.text_field :local_address_state
  .field
    = f.label :local_address_zip
    = f.text_field :local_address_zip
  .field
    = f.label :perm_address_line1
    = f.text_field :perm_address_line1
  .field
    = f.label :perm_address_line2
    = f.text_field :perm_address_line2
  .field
    = f.label :perm_address_city
    = f.text_field :perm_address_city
  .field
    = f.label :perm_address_state
    = f.text_field :perm_address_state
  .field
    = f.label :perm_address_zip
    = f.text_field :perm_address_zip
  .field
    = f.label :statement_type
    = f.text_field :statement_type
  .field
    = f.label :checking_account
    = f.text_field :checking_account
  .field
    = f.label :courtesy_pay
    = f.check_box :courtesy_pay
  .field
    = f.label :visa_checkcard
    = f.check_box :visa_checkcard
  .field
    = f.label :visa_pin
    = f.text_field :visa_pin
  .field
    = f.label :visa_delivery
    = f.text_field :visa_delivery
  .field
    = f.label :penncard_link
    = f.check_box :penncard_link
  .field
    = f.label :penncard_number
    = f.text_field :penncard_number
  .field
    = f.label :order_checks
    = f.check_box :order_checks
  .field
    = f.label :address_on_checks
    = f.text_field :address_on_checks
  .field
    = f.label :check_type
    = f.text_field :check_type
  .field
    = f.label :color
    = f.text_field :color
  .field
    = f.label :check_delivery
    = f.text_field :check_delivery
  .field
    = f.label :signature
    = f.text_field :signature
  .field
    = f.label :apply_date
    = f.date_select :apply_date
  .actions
    = f.submit 'Save'
