%h1.text-center Individual Account Applicants
%br
%br

= form_tag url_for(:controller => 'maapps', :action => 'export'), method: 'get' do
  %table.table.table-hover.col-md-12
    %tr
      %th.col-md-1
      %th.col-md-3 Date Submitted
      %th.col-md-3 Applicant
      %th.col-md-2 Status
      %th.col-md-1
      %th.col-md-1

    - @maapps.each do |applicant|
      %tr{:class => "#{if applicant.application_status == 'Unprocessed' then 'active' elsif applicant.application_status == 'Processed' then 'success' else 'info' end}"}
        %td= check_box_tag 'exports[]', applicant.id, false, id: "exports_#{applicant.id}"
        %td= label_tag "exports_#{applicant.id}", applicant.created_at.strftime('%Y-%m-%d')
        %td= label_tag "exports_#{applicant.id}", applicant.first_name +   ' ' + applicant.last_name
        %td= label_tag applicant.application_status
        %td= link_to 'Show', applicant
        -#%td= link_to 'Edit', edit_maapp_path(applicant)
        %td= link_to 'Destroy', applicant, :method => :delete, :data => { :confirm => 'Are you sure?' }
  -#
  %br
    = submit_tag 'Export', class: "btn btn-primary"
-#= link_to 'New Maapp', new_maapp_path
