%h1 Listing maapps

%table
  %tr
    %th First
    %th Middle
    %th Last
    %th Dob
    %th Student status
    %th Penn affiliation
    %th Grad year
    %th Penn
    %th Ssn
    %th File ssn
    %th Doc type
    %th Doc
    %th File id1
    %th File id2
    %th Mobile phone
    %th Home phone
    %th Penn email
    %th Alter email
    %th Local address line1
    %th Local address line2
    %th Local address city
    %th Local address state
    %th Local address zip
    %th Perm address line1
    %th Perm address line2
    %th Perm address city
    %th Perm address state
    %th Perm address zip
    %th Statement type paper
    %th Statement type electronic
    %th Checking account
    %th Courtesy pay
    %th Visa check card
    %th Visa pin
    %th Visa repeat pin
    %th Visa delivery
    %th Penncard link
    %th Penncard number
    %th Order checks
    %th Address on checks
    %th Check type
    %th Color
    %th Check delivery
    %th Term
    %th Understand
    %th Signature
    %th Today date
    %th
    %th
    %th

  - @maapps.each do |maapp|
    %tr
      %td= maapp.first
      %td= maapp.middle
      %td= maapp.last
      %td= maapp.dob
      %td= maapp.student_status
      %td= maapp.penn_affiliation
      %td= maapp.grad_year
      %td= maapp.penn_id
      %td= maapp.ssn
      %td= maapp.file_ssn
      %td= maapp.doc_type
      %td= maapp.doc_id
      %td= maapp.file_id1
      %td= maapp.file_id2
      %td= maapp.mobile_phone
      %td= maapp.home_phone
      %td= maapp.penn_email
      %td= maapp.alter_email
      %td= maapp.local_address_line1
      %td= maapp.local_address_line2
      %td= maapp.local_address_city
      %td= maapp.local_address_state
      %td= maapp.local_address_zip
      %td= maapp.perm_address_line1
      %td= maapp.perm_address_line2
      %td= maapp.perm_address_city
      %td= maapp.perm_address_state
      %td= maapp.perm_address_zip
      %td= maapp.statement_type_paper
      %td= maapp.statement_type_electronic
      %td= maapp.checking_account
      %td= maapp.courtesy_pay
      %td= maapp.visa_check_card
      %td= maapp.visa_pin
      %td= maapp.visa_repeat_pin
      %td= maapp.visa_delivery
      %td= maapp.penncard_link
      %td= maapp.penncard_number
      %td= maapp.order_checks
      %td= maapp.address_on_checks
      %td= maapp.check_type
      %td= maapp.color
      %td= maapp.check_delivery
      %td= maapp.term
      %td= maapp.understand
      %td= maapp.signature
      %td= maapp.today_date
      %td= link_to 'Show', maapp
      %td= link_to 'Edit', edit_maapp_path(maapp)
      %td= link_to 'Destroy', maapp, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Maapp', new_maapp_path
