.panel.panel-default
  .panel-heading
    %h1.panel-title.text-center Member Account Application
  .panel-body
    %p
      .row
        .col-md-4
          %b First name:
          = @maapp.first_name
        .col-md-4
          %b Middle name:
          = @maapp.middle_name
        .col-md-4
          %b Last name:
          = @maapp.last_name
    %p
      %b Date of Birth
      = @maapp.dob
    %p
      %b Student status:
      = @maapp.student_status
    %p
      %b Penn affiliation:
      = @maapp.penn_affiliation
    %p
      %b Graduate year:
      = @maapp.grad_year
    %p
      %b Penn ID:
      = @maapp.penn_id
    %p
      %b SSN:
      = @maapp.ssn
    %p
      %b W8ben Form:
      = @maapp.w8ben_form
    %p
      .row
        .col-md-4
          %b Document Type:
          = @maapp.doc_type
        .col-md-4
          %b Document ID:
          = @maapp.doc_id
    %p
      %b File ID1:
      = @maapp.file_id1
    %p
      %b File ID2:
      = @maapp.file_id2
    %p
      .row
        .col-md-4
          %b Mobile Phone:
          = @maapp.mobile_phone
        .col-md-4
          %b Home Phone:
          = @maapp.home_phone
    %p
      .row
        .col-md-4
          %b Penn Email:
          = @maapp.penn_email
        .col-md-4
          %b Alternate Email:
          = @maapp.alter_email
    %p
      %b Local Address Line1:
      = @maapp.local_address_line1
    %p
      %b Local Address Line2:
      = @maapp.local_address_line2
    %p
      .row
        .col-md-4
          %b City:
          = @maapp.local_address_city
        .col-md-4
          %b State:
          = @maapp.local_address_state
        .col-md-4
          %b Zip:
          = @maapp.local_address_zip
    %p
      %b Permanent Address Line1:
      = @maapp.perm_address_line1
    %p
      %b Permanent Address Line2:
      = @maapp.perm_address_line2
    %p
      .row
        .col-md-3
          %b City:
          = @maapp.perm_address_city
        .col-md-3
          %b State:
          = @maapp.perm_address_state
        .col-md-3
          %b Zip:
          = @maapp.perm_address_zip
        .col-md-3
          %b Country:
          = @maapp.perm_address_country
    %p
      %b Statement Type:
      = @maapp.statement_type
    %p
      %b Checking Account:
      = @maapp.checking_account
    %p
      %b Courtesy Pay:
      = @maapp.courtesy_pay
    %p
      %b Visa Checkcard:
      = @maapp.visa_checkcard
    %p
      %b Visa Pin:
      = @maapp.visa_pin
    %p
      %b Visa Delivery:
      = @maapp.visa_delivery
    %p
      %b Penncard Link:
      = @maapp.penncard_link
    %p
      %b Penncard Number:
      = @maapp.penncard_number
    %p
      %b Order Checks:
      = @maapp.order_checks
    %p
      %b Address on Checks:
      = @maapp.address_on_checks
    %p
      %b Check Type:
      = @maapp.check_type
    %p
      %b Color:
      = @maapp.color
    %p
      %b Check Delivery:
      = @maapp.check_delivery
    %p
      %b Signature:
      = @maapp.signature

    .text-center
      = form_tag url_for(:controller => 'maapps', :action => 'index'), method: 'get' do
        = submit_tag 'Back', class: "btn btn-primary"
