%p#notice= notice

%p
  %b First:
  = @maapp.first
%p
  %b Middle:
  = @maapp.middle
%p
  %b Last:
  = @maapp.last
%p
  %b Dob:
  = @maapp.dob
%p
  %b Student status:
  = @maapp.student_status
%p
  %b Penn affiliation:
  = @maapp.penn_affiliation
%p
  %b Grad year:
  = @maapp.grad_year
%p
  %b Penn:
  = @maapp.penn_id
%p
  %b Ssn:
  = @maapp.ssn
%p
  %b File ssn:
  = @maapp.file_ssn
%p
  %b Doc type:
  = @maapp.doc_type
%p
  %b Doc:
  = @maapp.doc_id
%p
  %b File id1:
  = @maapp.file_id1
%p
  %b File id2:
  = @maapp.file_id2
%p
  %b Mobile phone:
  = @maapp.mobile_phone
%p
  %b Home phone:
  = @maapp.home_phone
%p
  %b Penn email:
  = @maapp.penn_email
%p
  %b Alter email:
  = @maapp.alter_email
%p
  %b Local address line1:
  = @maapp.local_address_line1
%p
  %b Local address line2:
  = @maapp.local_address_line2
%p
  %b Local address city:
  = @maapp.local_address_city
%p
  %b Local address state:
  = @maapp.local_address_state
%p
  %b Local address zip:
  = @maapp.local_address_zip
%p
  %b Perm address line1:
  = @maapp.perm_address_line1
%p
  %b Perm address line2:
  = @maapp.perm_address_line2
%p
  %b Perm address city:
  = @maapp.perm_address_city
%p
  %b Perm address state:
  = @maapp.perm_address_state
%p
  %b Perm address zip:
  = @maapp.perm_address_zip
%p
  %b Statement type paper:
  = @maapp.statement_type_paper
%p
  %b Statement type electronic:
  = @maapp.statement_type_electronic
%p
  %b Checking account:
  = @maapp.checking_account
%p
  %b Courtesy pay:
  = @maapp.courtesy_pay
%p
  %b Visa check card:
  = @maapp.visa_check_card
%p
  %b Visa pin:
  = @maapp.visa_pin
%p
  %b Visa repeat pin:
  = @maapp.visa_repeat_pin
%p
  %b Visa delivery:
  = @maapp.visa_delivery
%p
  %b Penncard link:
  = @maapp.penncard_link
%p
  %b Penncard number:
  = @maapp.penncard_number
%p
  %b Order checks:
  = @maapp.order_checks
%p
  %b Address on checks:
  = @maapp.address_on_checks
%p
  %b Check type:
  = @maapp.check_type
%p
  %b Color:
  = @maapp.color
%p
  %b Check delivery:
  = @maapp.check_delivery
%p
  %b Term:
  = @maapp.term
%p
  %b Understand:
  = @maapp.understand
%p
  %b Signature:
  = @maapp.signature
%p
  %b Today date:
  = @maapp.today_date

= link_to 'Edit', edit_maapp_path(@maapp)
\|
= link_to 'Back', maapps_path
