%br
%br
%h1.text-center Credit Builder Program Application

#rootwizard
  %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
    .container
      %ul.nav.nav-tabs.nav-justified{:role => "tablist"}
        %li
          %a{"data-toggle" => "tab", :href => "#tab1"} General Info
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} Contact Info
        %li
          %a{"data-toggle" => "tab", :href => "#tab3"} Credit Request
  .progress
    .progress-bar.progress-bar-success.progress-bar-striped.active.bar
  = form_for @cbpapp, html: {class: "form-horizontal"} do |f|
    - if @cbpapp.errors.any?
      #error_explanation
        %h2= "#{pluralize(@cbpapp.errors.count, "error")} prohibited this maapp from being saved:"
        %ul
          - @cbpapp.errors.full_messages.each do |msg|
            %li= msg
    .tab-content
      #tab1.tab-pane
        %hr
        %h2.text-center Section I: Applicant Information
        %hr
        .well
          %h2.text-center A. General Information
          %br
          %b Name*
          .row
            .col-md-4
              = f.text_field :first_name, class: "form-control", placeholder: "First Name"
            .col-md-4
              = f.text_field :middle_name, class: "form-control", placeholder: "Middle Name"
            .col-md-4
              = f.text_field :last_name, class: "form-control", placeholder: "Last Name"
          %br
          %b Social Security Number*
          .row
            .col-md-4
              = f.text_field :ssn, class: "form-control", placeholder: "SSN"
            .col-md-12
              If you do not have an SSN, we are required to have a W8BEN form on file for you.
              Please download one Here, fill it out, and include it in your application.
          %br
          %b Date of Birth*
          .row
            .col-md-9
              = f.date_select :dob
          %br
          %b Mother's Maiden Name*
          .row
            .col-md-4
              = f.text_field :mother_maiden, class: "form-control", placeholder: "Mother's Maiden Name"
          %br
          %b SFCU Account Number*
          .row
            .col-md-4
              = f.text_field :account_number, class: "form-control", placeholder: "Account Number"
          %br
          %b Expected Graduation Date
          .row
            .col-md-4
              = f.date_select :grad_date
          %br
          %b Non-UPenn Email Address*
          .row
            .col-md-4
              = f.text_field :non_upenn_email, class: "form-control", placeholder: "Alternate Email Address"
          %br
          %b How did you hear about this program?*
          .row
            .col-md-4
              = f.text_field :how_know, class: "form-control",placeholder: "How did you hear about this program?"
          %br
      #tab2.tab-pane
        %hr
        %h2.text-center Section I: Applicant Information
        %hr
        .well
          %h2.text-center B. Contact Information
          %br
          .row
            .col-md-6
              %b Local Home Phone*
            .col-md-6
              %b Business Phone
          .row
            .col-md-6
              = f.text_field :local_home_phone, class:"form-control", placeholder: "Home Phone"
            .col-md-6
              = f.text_field :biz_phone, class:"form-control", placeholder: "Business Phone"
          %br
          %b Local Address
          .row
            .col-md-3
              Address Line 1*
            .col-md-9
              = f.text_field :local_address_line1, class:"form-control", placeholder: "Local Address Line1"
          .row
            .col-md-3
              Address Line 2
            .col-md-9
              = f.text_field :local_address_line2, class:"form-control",placeholder: "Local Address Line2"
          .row
            .col-md-1
              City*
            .col-md-3
              = f.text_field :local_address_city, class:"form-control", placeholder: "City"
            .col-md-1
              State*
            .col-md-3
              = f.text_field :local_address_state, class:"form-control", placeholder: "State"
            .col-md-1
              ZIP*
            .col-md-3
              = f.text_field :local_address_zip, class:"form-control", placeholder: "ZIP"
          %br
          %b Permanent Address
          .row
            .col-md-3
              Address Line 1
            .col-md-9
              = f.text_field :perm_address_line1, class:"form-control", placeholder: "Permanent Address Line1"
          .row
            .col-md-3
              Address Line 2
            .col-md-9
              = f.text_field :perm_address_line2, class:"form-control", placeholder: "Permanent Address Line2"
          .row
            .col-md-1
              City
            .col-md-2
              = f.text_field :perm_address_city, class:"form-control", placeholder: "City"
            .col-md-1
              State
            .col-md-2
              = f.text_field :perm_address_state, class:"form-control", placeholder: "State"
            .col-md-1
              ZIP
            .col-md-2
              = f.text_field :perm_address_zip, class:"form-control", placeholder: "ZIP"
            .col-md-1
              Country
            .col-md-2
              = f.text_field :perm_address_country, class:"form-control", placeholder: "Country"
          %br
          %b Permanent Home Phone
          .row
            .col-md-4
              = f.text_field :perm_home_phone, class:"form-control", placeholder: "Home Phone"
          %br
        %hr
        .well
          %h2.text-center C. Residency
          %br
          %b Student Status*
          .row
            .col-md-5
              %label.radio-inline
                = f.radio_button :student_status, "US Citizen or permanent resident"
                US Citizen or permanent resident
            .col-md-5
              %label.radio-inline
                = f.radio_button :student_status, "International"
                International
          %br
          %br
      #tab3.tab-pane
        %hr
        %h2.text-center Section II: Credit Request
        %hr
        .well
          You are applying for credit under the terms disclosed in this Credit Agreement.
          %br
          %b Amount Requested: $1000
          %br
          %br
          %b Period*
          .row
            .col-md-4
              %label.radio-inline
                = f.radio_button :period, "12 Months"
                12 Months
              %label.radio-inline
                = f.radio_button :period, "24 Months"
                24 Months
          %br
        .actions.text-center
          = f.submit 'Submit', class: "btn btn-primary"
    %ul.pager.wizard
      %li.previous.first
        %a{:href => "javascript:;"} First
      %li.previous
        %a{:href => "javascript:;"} Previous
      %li.next.last
        %a{:href => "javascript:;"} Last
      %li.next
        %a{:href => "javascript:;"} Next
      %li.next.finish{:style => "display:none;"}
        %a{:href => "javascript:;"} Finish
-#= link_to 'Back', cbpapps_path

:javascript
  $(document).ready(function() {
    	$('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
  		var $total = navigation.find('li').length;
  		var $current = index+1;
  		var $percent = ($current/$total) * 100;
  		$('#rootwizard').find('.bar').css({width:$percent+'%'});
  	}});
  });
