

%table.table.table-hover.col-md-12
  %tr
    %th.col-md-1
    %th.col-md-3 Date Submitted
    %th.col-md-3 Applicant
    %th.col-md-2 Status
    %th.col-md-1
    %th.col-md-1

  - @cbpapps.each do |applicant|

    %tr{:class => "#{if applicant.application_status == 'Unprocessed' then 'active' elsif applicant.application_status == 'Processed' then 'success' else 'info' end}"}
      %td= check_box_tag 'exports[]', applicant.id, false, id: "exports_#{applicant.id}", form: "exports"
      %td= label_tag "exports_#{applicant.id}", applicant.created_at.strftime('%Y-%m-%d')
      %td= label_tag "exports_#{applicant.id}", applicant.first_name + ' ' + applicant.last_name
      %td.text-center= form_for applicant do |f| f.select :application_status, options_for_select([ "Unprocessed", "Processed", "Hold" ], applicant.application_status), {}, id: "status_#{applicant.id}", :onchange => 'this.form.submit()' end
      %td= link_to 'Show', applicant
      -#%td= link_to 'Edit', edit_maapp_path(applicant)
      %td= link_to 'Destroy', applicant, :method => :delete, :data => { :confirm => 'Are you sure?' }
  -#
  %br
= form_tag url_for(:controller => 'cbpapps', :action => 'export'), method: 'get', name: "exports", id: "exports" do
  = submit_tag 'Export', id: "export_button", class: "btn btn-primary"

:javascript
  $(document).ready(function() {
    $('#export_button').click(function(){
      var empty = true;
      var checkboxes = document.getElementsByName('exports[]');
      for(var i = 0, n = checkboxes.length;i < n; i++) {
        if(checkboxes[i].checked) {
          empty = false;
          break;
        }
      }
      if(empty) {
        alert("No application selected");

      }
    }
    );
  });