%title Unsecured Loan Application Management System
.panel.panel-default
  .panel-heading
    %h1.panel-title.text-center Unsecured Loan Application Management System
  .panel-body
    %table.table.table-hover.table-bordered
      %tr
        %th.col-md-1.text-center
        %th.col-md-3.text-center Applicant
        %th.col-md-2.text-center Loan Amount
        %th.col-md-2.text-center Status
        %th.col-md-2.text-center Date Submitted
        %th.col-md-1.text-center
        %th.col-md-1.text-center

      - @ulapps.each do |applicant|
        %tr{:class => "#{if applicant.application_status == 'Unprocessed' then 'active' elsif applicant.application_status == 'Processed' then 'success' else 'info' end}"}
          %td.text-center= check_box_tag 'exports[]', applicant.id, false, id: "exports_#{applicant.id}", form: "exports"
          %td.text-center= label_tag "exports_#{applicant.id}", applicant.first_name.to_s +   ' ' + applicant.last_name.to_s
          %td.text-center= label_tag "exports_#{applicant.id}", applicant.amount
          %td.text-center= form_for applicant do |f| f.select :application_status, options_for_select([ "Unprocessed", "Processed", "Hold" ], applicant.application_status), {}, id: "status_#{applicant.id}", :onchange => 'this.form.submit()' end
          %td.text-center= label_tag "exports_#{applicant.id}", applicant.created_at.strftime('%Y-%m-%d')
          %td.text-center= link_to 'Detail', applicant
          %td.text-center= link_to 'Delete', applicant, :method => :delete, :data => { :confirm => 'Are you sure?' }
    %hr
    .div.text-center
      = form_tag url_for(:controller => 'ulapps', :action => 'export'), method: 'get', name: "exports", id: "exports" do
        = submit_tag 'Export', id: "export_button", class: "btn btn-primary"
#WarningModal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %h4.modal-title Warning
      .modal-body
        %h3.lead Please select at least one applicant!
      .modal-footer
        .text-center
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Go back

:javascript
  $(document).ready(function() {
    $('#export_button').click(function(e){
      var empty = true;
      var checkboxes = document.getElementsByName('exports[]');
      for(var i = 0, n = checkboxes.length;i < n; i++) {
        if(checkboxes[i].checked) {
          empty = false;
          break;
        }
      }
      if(empty){
        e.preventDefault();
        $('#WarningModal').modal();
      }
    });
  });