%h1 Listing ulapps

%table
  %tr
    %th Credit Type
    %th Joint applicant
    %th Amount
    %th Purpose
    %th First name
    %th Last name
    %th Dob
    %th Ssn
    %th Sfcu account
    %th Name relative
    %th Phone relative
    %th Mothers
    %th Graduation
    %th Local address line1
    %th Local address line2
    %th Local address city
    %th Local address state
    %th Local address zip
    %th Local country
    %th Perm address line1
    %th Perm address line2
    %th Perm address city
    %th Perm address state
    %th Perm address zip
    %th Perm country
    %th E mail
    %th Phone number
    %th Phone type
    %th Alter number
    %th Alter type
    %th Employer
    %th Employee address line1
    %th Employee address line2
    %th Employee address city
    %th Employee address state
    %th Employee address zip
    %th Employee country
    %th Position
    %th Supervisor firstname
    %th Supervisor lastname
    %th Grosspay
    %th Disbursement
    %th Startingdate
    %th Continue
    %th No
    %th Additional
    %th Employer2
    %th Employee2 address line1
    %th Employee2 address line2
    %th Employee2 address city
    %th Employee2 address state
    %th Employee2 address zip
    %th Employee2 country
    %th Position2
    %th Supervisor2 firstname
    %th Supervisor2 lastname
    %th Grosspay2
    %th Disbursement2
    %th Startingdate2
    %th Continue2
    %th No2
    %th Source1
    %th Amount1
    %th Source2
    %th Amount2
    %th Source3
    %th Amount3
    %th Depository1
    %th Account type1
    %th Balance1
    %th Depository2
    %th Account type2
    %th Balance2
    %th Depository3
    %th Account type3
    %th Balance3
    %th Addr1
    %th Market value1
    %th Pledged1
    %th Addr2
    %th Market value2
    %th Pledged2
    %th Addr3
    %th Market value3
    %th Pledged3
    %th Creditor1
    %th Cbalance1
    %th Nextpayment1
    %th Avg1
    %th Pastdue1
    %th Creditor2
    %th Cbalance2
    %th Nextpayment2
    %th Avg2
    %th Pastdue2
    %th Creditor3
    %th Cbalance3
    %th Nextpayment3
    %th Avg3
    %th Pastdue3
    %th Creditor4
    %th Cbalance4
    %th Nextpayment4
    %th Avg4
    %th Pastdue4
    %th Loan creditor1
    %th Creditor type1
    %th First payment1
    %th Last payment1
    %th Monthly1
    %th Past due1
    %th Loan creditor2
    %th Creditor type2
    %th First payment2
    %th Last payment2
    %th Monthly2
    %th Past due2
    %th Expenses
    %th File1
    %th File2
    %th File3
    %th File4
    %th File5
    %th File6
    %th Yesorno
    %th Signature
    %th
    %th
    %th

  - @ulapps.each do |ulapp|
    %tr
      %td= ulapp.credit_type
      %td= ulapp.joint_applicant
      %td= ulapp.amount
      %td= ulapp.purpose
      %td= ulapp.first_name
      %td= ulapp.last_name
      %td= ulapp.dob
      %td= ulapp.ssn
      %td= ulapp.sfcu_account
      %td= ulapp.name_relative
      %td= ulapp.phone_relative
      %td= ulapp.mothers
      %td= ulapp.graduation
      %td= ulapp.local_address_line1
      %td= ulapp.local_address_line2
      %td= ulapp.local_address_city
      %td= ulapp.local_address_state
      %td= ulapp.local_address_zip
      %td= ulapp.local_country
      %td= ulapp.perm_address_line1
      %td= ulapp.perm_address_line2
      %td= ulapp.perm_address_city
      %td= ulapp.perm_address_state
      %td= ulapp.perm_address_zip
      %td= ulapp.perm_country
      %td= ulapp.e_mail
      %td= ulapp.phone_number
      %td= ulapp.phone_type
      %td= ulapp.alter_number
      %td= ulapp.alter_type
      %td= ulapp.employer
      %td= ulapp.employee_address_line1
      %td= ulapp.employee_address_line2
      %td= ulapp.employee_address_city
      %td= ulapp.employee_address_state
      %td= ulapp.employee_address_zip
      %td= ulapp.employee_country
      %td= ulapp.position
      %td= ulapp.supervisor_firstname
      %td= ulapp.supervisor_lastname
      %td= ulapp.grosspay
      %td= ulapp.disbursement
      %td= ulapp.startingdate
      %td= ulapp.continue
      %td= ulapp.no
      %td= ulapp.additional
      %td= ulapp.employer2
      %td= ulapp.employee2_address_line1
      %td= ulapp.employee2_address_line2
      %td= ulapp.employee2_address_city
      %td= ulapp.employee2_address_state
      %td= ulapp.employee2_address_zip
      %td= ulapp.employee2_country
      %td= ulapp.position2
      %td= ulapp.supervisor2_firstname
      %td= ulapp.supervisor2_lastname
      %td= ulapp.grosspay2
      %td= ulapp.disbursement2
      %td= ulapp.startingdate2
      %td= ulapp.continue2
      %td= ulapp.no2
      %td= ulapp.source1
      %td= ulapp.amount1
      %td= ulapp.source2
      %td= ulapp.amount2
      %td= ulapp.source3
      %td= ulapp.amount3
      %td= ulapp.depository1
      %td= ulapp.account_type1
      %td= ulapp.balance1
      %td= ulapp.depository2
      %td= ulapp.account_type2
      %td= ulapp.balance2
      %td= ulapp.depository3
      %td= ulapp.account_type3
      %td= ulapp.balance3
      %td= ulapp.addr1
      %td= ulapp.market_value1
      %td= ulapp.pledged1
      %td= ulapp.addr2
      %td= ulapp.market_value2
      %td= ulapp.pledged2
      %td= ulapp.addr3
      %td= ulapp.market_value3
      %td= ulapp.pledged3
      %td= ulapp.creditor1
      %td= ulapp.cbalance1
      %td= ulapp.nextpayment1
      %td= ulapp.avg1
      %td= ulapp.pastdue1
      %td= ulapp.creditor2
      %td= ulapp.cbalance2
      %td= ulapp.nextpayment2
      %td= ulapp.avg2
      %td= ulapp.pastdue2
      %td= ulapp.creditor3
      %td= ulapp.cbalance3
      %td= ulapp.nextpayment3
      %td= ulapp.avg3
      %td= ulapp.pastdue3
      %td= ulapp.creditor4
      %td= ulapp.cbalance4
      %td= ulapp.nextpayment4
      %td= ulapp.avg4
      %td= ulapp.pastdue4
      %td= ulapp.loan_creditor1
      %td= ulapp.creditor_type1
      %td= ulapp.first_payment1
      %td= ulapp.last_payment1
      %td= ulapp.monthly1
      %td= ulapp.past_due1
      %td= ulapp.loan_creditor2
      %td= ulapp.creditor_type2
      %td= ulapp.first_payment2
      %td= ulapp.last_payment2
      %td= ulapp.monthly2
      %td= ulapp.past_due2
      %td= ulapp.expenses
      %td= ulapp.file1
      %td= ulapp.file2
      %td= ulapp.file3
      %td= ulapp.file4
      %td= ulapp.file5
      %td= ulapp.file6
      %td= ulapp.yesorno
      %td= ulapp.signature
      %td= link_to 'Show', ulapp
      %td= link_to 'Edit', edit_ulapp_path(ulapp)
      %td= link_to 'Destroy', ulapp, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Ulapp', new_ulapp_path
