%br
%br
%h1.text-center Unsecured Loan Application


.vcenter#rootwizard
  %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
    .container
      %ul.nav.nav-tabs.nav-justified{:role => "tablist"}
        %li
          %a{"data-toggle" => "tab", :href => "#tab1"} Credit Request
        %li
          %a{"data-toggle" => "tab", :href => "#tab2"} General Information
        %li
          %a{"data-toggle" => "tab", :href => "#tab3"} Contact Information
        %li
          %a{"data-toggle" => "tab", :href => "#tab4"} Employment Income
        %li
          %a{"data-toggle" => "tab", :href => "#tab5"} Additional Income
        %li
          %a{"data-toggle" => "tab", :href => "#tab6"} Outstanding Debts
        %li
          %a{"data-toggle" => "tab", :href => "#tab7"} Monthly Expenses
        %li
          %a{"data-toggle" => "tab", :href => "#tab8"} Applicant's Signature
  .progress
    .progress-bar.progress-bar-success.progress-bar-striped.active.bar
  = form_for @ulapp, html: {class: "form-horizontal"} do |f|
    - if @ulapp.errors.any?
      #error_explanation
        %h2= "#{pluralize(@ulapp.errors.count, "error")} prohibited this ulapp from being saved:"
        %ul
          - @ulapp.errors.full_messages.each do |msg|
            %li= msg
    .tab-content
      #tab1.tab-pane
        %hr
        .well
          %h2.text-center Credit Request
          %b Type*
          .row
            .col-md-4
              %label.radio-inline
                = f.radio_button :credit_type, "Individual Credit"
                Individual Credit
            .col-md-4
              %label.radio-inline
                = f.radio_button :credit_type, "Joint Credit"
                Joint Credit
          %br
          .row
            .col-md-12
              For joint accounts please make two seperate submissions of this form. On each form identify the full name and last 4 digits of SSN of the other co-signer/co-maker.
          %br
          %b Joint applicants, please enter the full name and last 4 digits of SSN # of the other co-signer/co-marker*
          .row
            .col-md-6
              = f.text_area :joint_applicant, class: "form-control"
          %br
          %b Amount Requested*
          .row
            .col-md-4
              = f.text_field :amount, class: "form-control"
          %br
          %b Purpose*
          .row
            .col-md-12
              = f.text_field :purpose, class: "form-control", placeholder: "Please enter your purpose here"

      #tab2.tab-pane
        %hr
        .well
          %h2.text-center General Information
          %b Name*
          .row
            .col-md-6
              = f.text_field :first_name, class: "form-control", placeholder: "First Name"
            .col-md-6
              = f.text_field :last_name, class: "form-control", placeholder: "Last Name"
          %br
          %b Birth Date*
          .row
            .col-md-4
              = f.date_select :dob, { start_year: 1900, end_year: Date.today.year }
          %br
          .row
            .col-md-6
              %b Social Security Number*
            .col-md-6
              %b SFCU Account Number
          .row
            .col-md-6
              = f.text_field :ssn, class: "form-control"
            .col-md-6
              = f.text_field :sfcu_account, class: "form-control"
          .row
            .col-md-6
              %b Name of Nearest Relative*
            .col-md-6
              %b Phone Number of Nearest Relative*
          .row
            .col-md-6
              = f.text_field :name_relative, class: "form-control"
            .col-md-6
              = f.text_field :phone_relative, class: "form-control"
          %br
          %b Mothers Madien Name
          .row
            .col-md-4
              = f.text_field :mothers, class: "form-control"
          %br
          %b Expected Graduation Date
          .row
            .col-md-4
              = f.date_select :graduation, class: "form-control"
      #tab3.tab-pane
        %hr
        .well
          %h2.text-center Contact Information
          %br
          %b Local Address
          .row
            .col-md-3
              Address Line 1*
            .col-md-9
              = f.text_field :local_address_line1, class: "form-control", placeholder: "Local Address Line1"
          .row
            .col-md-3
              Address Line 2
            .col-md-9
              = f.text_field :local_address_line2, class: "form-control", placeholder: "Local Address Line2"
          .row
            .col-md-1
              City*
            .col-md-3
              = f.text_field :local_address_city, placeholder: "City", class: "form-control"
            .col-md-1
              State*
            .col-md-3
              = f.text_field :local_address_state, placeholder: "State", class: "form-control"
            .col-md-1
              ZIP*
            .col-md-3
              = f.text_field :local_address_zip, placeholder: "ZIP", class: "form-control"
          .row
            .col-md-1
              Country*
            .col-md-4
              = f.select :local_country, Country.all.sort, {}, {class: "form-control"}
          %br
          .row
            .col-md-12.checkbox
              %label
                = f.check_box :same
                %b Permanent Address Same as Local Address?
          %br
          #permanent_address
            %b Permanent Address
            .row
              .col-md-3
                Address Line 1
              .col-md-9
                = f.text_field :perm_address_line1, class: "form-control", placeholder: "Permanent Address Line1"
            .row
              .col-md-3
                Address Line 2
              .col-md-9
                = f.text_field :perm_address_line2, class: "form-control", placeholder: "Permanent Address Line2"
            .row
              .col-md-1
                City
              .col-md-3
                = f.text_field :perm_address_city, placeholder: "City", class: "form-control"
              .col-md-1
                State
              .col-md-3
                = f.text_field :perm_address_state, placeholder: "State", class: "form-control"
              .col-md-1
                ZIP
              .col-md-3
                = f.text_field :perm_address_zip, placeholder: "ZIP", class: "form-control"
            .row
              .col-md-1
                Country
              .col-md-4
                = f.select :perm_country, Country.all.sort, {}, {class: "form-control"}
            %br
          %b E-mail*
          .row
            .col-md-6
              = f.text_field :e_mail, class: "form-control"
          %br
          %b Phone*
          .row
            .col-md-3
              Phone Number
            .col-md-3
              = f.text_field :phone_number, class: "form-control"
            .col-md-2
              Phone Type*
            .col-md-4
              = f.select :phone_type, ([['Home', 1], ['Cell', 2], ['Business', 3]]), {}, {class: "form-control"}
          %br
          %b Alternate Phone*
          .row
            .col-md-3
              Phone Number
            .col-md-3
              = f.text_field :alter_number, class: "form-control"
            .col-md-2
              Phone Type*
            .col-md-4
              = f.select :alter_type, ([['Home', 1], ['Cell', 2], ['Business', 3]]), {}, {class: "form-control"}
          %br
      #tab4.tab-pane
        %hr
        .well
          %h2.text-center Employment Income
          %br
          Instructions: Please complete the following section regarding current employment and attach the necessary documentation.
          %br
          %ul
          %li If you are a current student at the University of Pennsylvania, please list both employment during the  regular semester and summer employment (if applicable).
          %li If you are a graduating senior, please list information on your employment after graduation.
          %li Please supply your most recent pay stub or an email from your employer confirming your employment as  well as income or a fellowship/financial aid offer letter.
          %li If you have just graduated and will be starting a new job, please provide an employment offer acceptance  letter for verification of income.
          %li If you are self-employed, please provide IRS returns for the last two years.
          %br
        .well
          %h3.text-center Employment I
          %b Employer*
          .row
            .col-md-4
              = f.text_field :employer, class: "form-control"
          %br
          %b Employer Address
          .row
            .col-md-3
              Address Line 1
            .col-md-9
              = f.text_field :employee_address_line1, class: "form-control", placeholder: "Address Line1"
          .row
            .col-md-3
              Address Line 2
            .col-md-9
              = f.text_field :employee_address_line2, class: "form-control", placeholder: "Address Line2"
          .row
            .col-md-1
              City
            .col-md-3
              = f.text_field :employee_address_city, placeholder: "City", class: "form-control"
            .col-md-1
              State
            .col-md-3
              = f.text_field :employee_address_state, placeholder: "State", class: "form-control"
            .col-md-1
              ZIP
            .col-md-3
              = f.text_field :employee_address_zip, placeholder: "ZIP", class: "form-control"
          .row
            .col-md-1
              Country
            .col-md-4
              = f.select :employee_country, Country.all.sort, {}, {class: "form-control"}
          %br
          %b Position
          .row
            .col-md-4
              = f.text_field :position, class: "form-control"
          %br
          %b Supervisor Name*
          .row
            .col-md-4
              = f.text_field :supervisor_firstname, placeholder: "First Name", class: "form-control"
            .col-md-4
              = f.text_field :supervisor_lastname, placeholder: "Last Name", class: "form-control"
          %br
          %b GrossPay*
          .row
            .col-md-4
              = f.text_field :grosspay, class: "form-control"
          %br
          %b Grosspay Disbursement
          .row
            .col-md-3
              %label.radio-inline
                = f.radio_button :disbursement, "Week"
                Week
            .col-md-3
              %label.radio-inline
                = f.radio_button :disbursement, "Month"
                Month
            .col-md-3
              %label.radio-inline
                = f.radio_button :disbursement, "Year"
                Year
          %br
          %b Date Started/Starting
          .row
            .col-md-4
              = f.date_select :startingdate
          %br
          %b Will this job continue for term of this loan?
          .row
            .col-md-3
              %label.radio-inline
                = f.radio_button :continue, false
                No
            .col-md-3
              %label.radio-inline
                = f.radio_button :continue, true
                Yes
          %br
          %b If "No", please list expected duration
          .row
            .col-md-12
              = f.text_area :no, class: "form-control"
          %br
          %b Additional Information
          .row
            .col-md-12
              = f.text_area :additional, class: "form-control"
          %br
        .well
          %h3.text-center Employment II
          %b Employer
          .row
            .col-md-4
              = f.text_field :employer2, class: "form-control"
          %br
          %b Employer Address
          .row
            .col-md-3
              Address Line 1
            .col-md-9
              = f.text_field :employee2_address_line1, class: "form-control", placeholder: "Address Line1"
          .row
            .col-md-3
              Address Line 2
            .col-md-9
              = f.text_field :employee2_address_line2, class: "form-control", placeholder: "Address Line2"
          .row
            .col-md-1
              City
            .col-md-3
              = f.text_field :employee2_address_city, placeholder: "City", class: "form-control"
            .col-md-1
              State
            .col-md-3
              = f.text_field :employee2_address_state, placeholder: "State", class: "form-control"
            .col-md-1
              ZIP
            .col-md-3
              = f.text_field :employee2_address_zip, placeholder: "ZIP", class: "form-control"
          .row
            .col-md-1
              Country
            .col-md-4
              = f.select :employee2_country, Country.all.sort, {}, {class: "form-control"}
          %br
          %b Position
          .row
            .col-md-4
              = f.text_field :position2, class: "form-control"
          %br
          %b Supervisor Name
          .row
            .col-md-4
              = f.text_field :supervisor2_firstname, placeholder: "First Name", class: "form-control"
            .col-md-4
              = f.text_field :supervisor2_lastname, placeholder: "Last Name", class: "form-control"
          %br
          %b GrossPay
          .row
            .col-md-4
              = f.text_field :grosspay2, class: "form-control"
          %br
          %b Grosspay Disbursement
          .row
            .col-md-3
              %label.radio-inline
                = f.radio_button :disbursement, "Week"
                Week
            .col-md-3
              %label.radio-inline
                = f.radio_button :disbursement, "Month"
                Month
            .col-md-3
              %label.radio-inline
                = f.radio_button :disbursement, "Year"
                Year
          %br
          %b Date Started/Starting
          .row
            .col-md-4
              = f.date_select :startingdate2
          %br
          %b Will this job continue for term of this loan?
          .row
            .col-md-3
              %label.radio-inline
                = f.radio_button :continue2, false
                No
            .col-md-3
              %label.radio-inline
                = f.radio_button :continue2, true
                Yes
          %br
          %b If "No", please list expected duration
          .row
            .col-md-12
              = f.text_area :no2, class: "form-control", class: "form-control"
          %br
      #tab5.tab-pane
        %hr
        .well
          %h2.text-center Additional Income
          %br
          Please list any additional income or benefits, including parental allowance, investment accounts, etc and attach copies of verification.  Alimony, separate maintenance, and child support need not be revealed unless you desire them to be considered in determining your credit worthiness.
          %br
          %b Source 1
          .row
            .col-md-1
              Source
            .col-md-4
              = f.text_field :source1, class: "form-control"
            .col-md-1
              Amount
            .col-md-4
              = f.text_field :amount1, class: "form-control"
          %br
          #source_2
            %b Source 2
            .row
              .col-md-1
                Source
              .col-md-4
                = f.text_field :source2, class: "form-control"
              .col-md-1
                Amount
              .col-md-4
                = f.text_field :amount2, class: "form-control"
            %br
          #source_3
            %b Source 3
            .row
              .col-md-1
                Source
              .col-md-4
                = f.text_field :source3, class: "form-control"
              .col-md-1
                Amount
              .col-md-4
                = f.text_field :amount3, class: "form-control"
            %br
          .row
            .col-md-4
              %button{id: "add_another_source", type: "button"} Add Another Source
        .well
          %h3.text-center Bank Accounts
          %br
          If you want the SFCU to consider balances in your bank account(s), please provide statements for the last 2 months as verification.
          %br
          .well
            %h4.text-center Bank Account1
            %br
            .row
              .col-md-4
                %b Name of Depository
              .col-md-4
                %b Type of Account
              .col-md-4
                %b Current Balance
            .row
              .col-md-4
                = f.text_field :depository1, {class: "form-control"}
              .col-md-4
                = f.select :account_type1, ([['Checking', 1], ['Money Market', 2], ['Savings', 3], ['Other',4]]), {}, {class: "form-control"}
              .col-md-4
                = f.text_field :balance1, {class: "form-control"}
            %br
          #bank_account_2
            .well
              %h4.text-center Bank Account2
              %br
              .row
                .col-md-4
                  %b Name of Depository
                .col-md-4
                  %b Type of Account
                .col-md-4
                  %b Current Balance
              %br
              .row
                .col-md-4
                  = f.text_field :depository2, {class: "form-control"}
                .col-md-4
                  = f.select :account_type2, ([['Checking', 1], ['Money Market', 2], ['Savings', 3], ['Other',4]]), {}, {class: "form-control"}
                .col-md-4
                  = f.text_field :balance2, {class: "form-control"}
              %br
          #bank_account_3
            .well
              %h4.text-center Bank Account3
              %br
              .row
                .col-md-4
                  %b Name of Depository
                .col-md-4
                  %b Type of Account
                .col-md-4
                  %b Current Balance
              %br
              .row
                .col-md-4
                  = f.text_field :depository3, {class: "form-control"}
                .col-md-4
                  = f.select :account_type3, ([['Checking', 1], ['Money Market', 2], ['Savings', 3], ['Other',4]]), {}, {class: "form-control"}
                .col-md-4
                  = f.text_field :balance3, {class: "form-control"}
              %br
          .row
            .col-md-4
              %button{id: "add_another_bankaccount", type: "button"} Add Another Bank Account
        .well
          %h3.text-center Property Owned
          %br
          Please provide copies of title(s) as verification.
          %br
          .well
            %h4.text-center Property Owned1
            %br
            %b Address
            .row
              .col-md-4
                = f.text_field :addr1
            %br
            %b Market Value
            .row
              .col-md-4
                = f.text_field :market_value1
            %br
            %b Pledged as Collateral for Another Loan?
            .row
              .col-md-1
                Yes
              .col-md-1
                = f.radio_button :pledged1, 0
              .col-md-1
                No
              .col-md-1
                = f.radio_button :pledged1, 1
            %br
          #property_2
            .well
              %h4.text-center Property Owned2
              %br
              %b Address
              .row
                .col-md-4
                  = f.text_field :addr2
              %br
              %b Market Value
              .row
                .col-md-4
                  = f.text_field :market_value2
              %br
              %b Pledged as Collateral for Another Loan?
              .row
                .col-md-1
                  Yes
                .col-md-1
                  = f.radio_button :pledged2, 0
                .col-md-1
                  No
                .col-md-1
                  = f.radio_button :pledged2, 1
              %br
          #property_3
            .well
              %h4.text-center Property Owned3
              %br
              %b Address
              .row
                .col-md-4
                  = f.text_field :addr3
              %br
              %b Market Value
              .row
                .col-md-4
                  = f.text_field :market_value3
              %br
              %b Pledged as Collateral for Another Loan?
              .row
                .col-md-1
                  Yes
                .col-md-1
                  = f.radio_button :pledged3, 0
                .col-md-1
                  No
                .col-md-1
                  = f.radio_button :pledged3, 1
              %br
          .row
            .col-md-4
              %button{id: "add_another_property", type: "button"} Add Another Property Owned
      #tab6.tab-pane
        %hr
        .well
          %h2.text-center Credit Cards
          %br
          .well
            %h3.text-center Creditor1
            .row
              .col-md-6
                %b Creditor Name
              .col-md-6
                %b Current Balance
            %br
            .row
              .col-md-6
                = f.text_field :creditor1, class: "form-control"
              .col-md-6
                = f.text_field :cbalance1, class: "form-control"
            %br
            .row
              .col-md-6
                %b Date of Next Payment
              .col-md-6
                %b Average Monthly Payment
            %br
            .row
              .col-md-6
                = f.date_select :nextpayment1
              .col-md-6
                = f.text_field :avg1, class: "form-control"
            %br
            %b Past Due
            .row
              .col-md-3
                %label.radio-inline
                  = f.radio_button :pastdue1, false
                  No
              .col-md-3
                %label.radio-inline
                  = f.radio_button :pastdue1, true
                  Yes
            %br
          #creditor_2
            .well
              %h3.text-center Creditor2
              .row
                .col-md-6
                  %b Creditor Name
                .col-md-6
                  %b Current Balance
              %br
              .row
                .col-md-6
                  = f.text_field :creditor2, class: "form-control"
                .col-md-6
                  = f.text_field :cbalance2, class: "form-control"
              %br
              .row
                .col-md-6
                  %b Date of Next Payment
                .col-md-6
                  %b Average Monthly Payment
              %br
              .row
                .col-md-6
                  = f.date_select :nextpayment2
                .col-md-6
                  = f.text_field :avg2, class: "form-control"
              %br
              %b Past Due
              .row
                .col-md-3
                  %label.radio-inline
                    = f.radio_button :pastdue2, false
                    No
                .col-md-3
                  %label.radio-inline
                    = f.radio_button :pastdue2, true
                    Yes
              %br
          #creditor_3
            .well
              %h3.text-center Creditor3
              .row
                .col-md-6
                  %b Creditor Name
                .col-md-6
                  %b Current Balance
              %br
              .row
                .col-md-6
                  = f.text_field :creditor3, class: "form-control"
                .col-md-6
                  = f.text_field :cbalance3, class: "form-control"
              %br
              .row
                .col-md-6
                  %b Date of Next Payment
                .col-md-6
                  %b Average Monthly Payment
              %br
              .row
                .col-md-6
                  = f.date_select :nextpayment3
                .col-md-6
                  = f.text_field :avg3, class: "form-control"
              %br
              %b Past Due
              .row
                .col-md-3
                  %label.radio-inline
                    = f.radio_button :pastdue3, false
                    No
                .col-md-3
                  %label.radio-inline
                    = f.radio_button :pastdue3, true
                    Yes
              %br
          #creditor_4
            .well
              %h3.text-center Creditor4
              .row
                .col-md-6
                  %b Creditor Name
                .col-md-6
                  %b Current Balance
              %br
              .row
                .col-md-6
                  = f.text_field :creditor4, class: "form-control"
                .col-md-6
                  = f.text_field :cbalance4, class: "form-control"
              %br
              .row
                .col-md-6
                  %b Date of Next Payment
                .col-md-6
                  %b Average Monthly Payment
              %br
              .row
                .col-md-6
                  = f.date_select :nextpayment4
                .col-md-6
                  = f.text_field :avg4, class: "form-control"
              %br
              %b Past Due
              .row
                .col-md-3
                  %label.radio-inline
                    = f.radio_button :pastdue4, false
                    No
                .col-md-3
                  %label.radio-inline
                    = f.radio_button :pastdue4, true
                    Yes
              %br
          .row
            .col-md-4
              %button{id: "add_another_creditor", type: "button"} Add Another Creditor
        .well
          %h2.text-center Loans
          %br
          .well
            %h3.text-center Creditor 1
            .row
              .col-md-6
                %b Creditor Name
              .col-md-6
                %b Creditor Type
            %br
            .row
              .col-md-6
                = f.text_field :loan_creditor1, class: "form-control"
              .col-md-6
                = f.text_field :creditor_type1, class: "form-control"
            %br
            .row
              .col-md-6
                %b Date of First Payment
              .col-md-6
                %b Date of Last Payment
            %br
            .row
              .col-md-6
                = f.date_select :first_payment1, class: "form-control"
              .col-md-6
                = f.date_select :last_payment1, class: "form-control"
            %br
            .row
              .col-md-6
                %b Monthly Payment
              .col-md-6
                %b Past Due
            %br
            .row
              .col-md-6
                = f.text_field :monthly1, class: "form-control"
              .row
                .col-md-3
                  %label.radio-inline
                    = f.radio_button :past_due1, false
                    No
                .col-md-3
                  %label.radio-inline
                    = f.radio_button :past_due1, true
                    Yes

            %br
          .well
            %h3.text-center Creditor 2
            .row
              .col-md-6
                %b Creditor Name
              .col-md-6
                %b Creditor Type
            %br
            .row
              .col-md-6
                = f.text_field :loan_creditor2, class: "form-control"
              .col-md-6
                = f.text_field :creditor_type2, class: "form-control"
            %br
            .row
              .col-md-6
                %b Date of First Payment
              .col-md-6
                %b Date of Last Payment
            %br
            .row
              .col-md-6
                = f.date_select :first_payment2
              .col-md-6
                = f.date_select :last_payment2, class: "form-control"
            %br
            .row
              .col-md-6
                %b Monthly Payment
              .col-md-6
                %b Past Due
            %br
            .row
              .col-md-6
                = f.text_field :monthly2, class: "form-control"
              .row
                .col-md-3
                  %label.radio-inline
                    = f.radio_button :past_due2, false
                    No
                .col-md-3
                  %label.radio-inline
                    = f.radio_button :past_due2, true
                    Yes

            %br
      #tab7.tab-pane
        %hr
        .well
          %h2.text-center Monthly Expenses
          %br
          Please estimate your monthly expenses.  If any expense is paid by another party, you must show provide proof of this.  Proof can be in the form of a notarized letter from that party.
          %br
          %br
          %b Expenses
          .col-md-12
            = f.text_area :expenses, value: "Rent/Housing $_______________ If none, list the person who foots the expense_______________ Food $_______________ If none, list the person who foots the expense_______________ Utilities $_______________ If none, list the person who foots the expense_______________ Bursar Bill.", rows:3, class:"form-control"
          %br
          %b Upload Documents
          .row
            .col-md-12
              Please use the attachment upload features below to upload any necessary documentation previously mention within the form. Additional upload field will propogate when file is uploaded.
          %br
          %br
          %b File1
          .row
            .col-md-4
              = f.file_field :file1
          %br
          #file_option_2
            %b File2
            .row
              .col-md-4
                = f.file_field :file2
            %br
          #file_option_3
            %b File3
            .row
              .col-md-4
                = f.file_field :file3
            %br
          #file_option_4
            %b File4
            .row
              .col-md-4
                = f.file_field :file4
            %br
          #file_option_5
            %b File5
            .row
              .col-md-4
                = f.file_field :file5
            %br
          #file_option_6
            %b File6
            .row
              .col-md-4
                = f.file_field :file6
            %br
          .row
            .col-md-4
              %button{id: "add_another_file", type: "button"} Add Another File
      #tab8.tab-pane
        %hr
          .well
            %h2.text-center Applicant's Signature
            %br
            .row
              .col-md-12
                You promise that everything you have stated in this application is correct to the best of your knowledge and that the above information is a complete listing of what you owe.  If there are any important changes you will notify us in writing immediately.  You authorize the SFCU to obtain credit reports in connection with this application for credit and for any update, increase, renewal, extension or collection of the credit received.  You understand that the SFCU will rely on the information in this application and your credit report to make its decision. If you request, the SFCU will tell you the name and address of any credit bureau from which it received a credit report on you. It is a federal crime to willfully and deliberately provide incomplete or incorrect information on loan applications made to federal credit unions or state chartered credit unions insured by the NCUA.
            %br
            .col-md-12.checkbox
              %label
                = f.check_box :yesorno
                I have read this disclosure and understand and agree to all terms, conditions and requirements here stated.*
              %br
            .row
              .col-md-4.col-md-offset-4
                %b Electronic Signature*
            .row
              .col-md-4.col-md-offset-4
                = f.text_field :signature, class: "form-control"
        .actions.text-center
          = f.submit 'Submit', class: "btn btn-primary"
    %ul.pager.wizard
      %li.previous.first
        %a{:href => "javascript:;"} First
      %li.previous
        %a{:href => "javascript:;"} Previous
      %li.next.last
        %a{:href => "javascript:;"} Last
      %li.next
        %a{:href => "javascript:;"} Next
      %li.next.finish{:style => "display:none;"}
        %a{:href => "javascript:;"} Finish
-#= render 'form'

-#= link_to 'Back', maapps_path

:javascript
  $(document).ready(function() {
    	$('#rootwizard').bootstrapWizard({onTabShow: function(tab, navigation, index) {
  		var $total = navigation.find('li').length;
  		var $current = index+1;
  		var $percent = ($current/$total) * 100;
  		$('#rootwizard').find('.bar').css({width:$percent+'%'});
  		for ( var i = 2; i <= 6; i++ ) {
            $("#file_option_"+i).hide();
        }
        var $count_file = 2;
        $('#add_another_file').click(function(){
          $("#file_option_"+$count_file).show();
          $count_file++;
          if ($count_file>6){
            $('#add_another_file').hide();
          }
        });
        for ( var i = 2; i <= 3; i++ ) {
            $("#source_"+i).hide();
        }
        var $count_source = 2;
        $('#add_another_source').click(function(){
          $("#source_"+$count_source).show();
          $count_source++;
          if ($count_source>3){
            $('#add_another_source').hide();
          }
        });
        for ( var i = 2; i <= 3; i++ ) {
            $("#bank_account_"+i).hide();
        }
        var $count_account = 2;
        $('#add_another_bankaccount').click(function(){
          $("#bank_account_"+$count_account).show();
          $count_account++;
          if ($count_account>3){
            $('#add_another_bankaccount').hide();
          }
        });
        for ( var i = 2; i <= 3; i++ ) {
            $("#property_"+i).hide();
        }
        var $count_property = 2;
        $('#add_another_property').click(function(){
          $("#property_"+$count_property).show();
          $count_property++;
          if ($count_property>3){
            $('#add_another_property').hide();
          }
        });
        for ( var i = 2; i <= 4; i++ ) {
            $("#creditor_"+i).hide();
        }
        var $count_creditor = 2;
        $('#add_another_creditor').click(function(){
          $("#creditor_"+$count_creditor).show();
          $count_creditor++;
          if ($count_creditor>4){
            $('#add_another_creditor').hide();
          }
        });

        $('#ulapp_same').change(function(){
          if(this.checked){
            $("#permanent_address").hide();
          }else{
            $("#permanent_address").show();
          }

        });


  	}});
  });






-#= render 'form'
-#
-#= link_to 'Back', ulapps_path





-#%h1.text-center Unsecured Loan Application
-#
-#= render 'form'
-#
-#= link_to 'Back', ulapps_path
