.panel.panel-default
  .panel-heading
    %h1.panel-title.text-center Unsecured Loan Application
  .panel-body
    %p
      %b Credit Type:
      = @ulapp.credit_type
    %p
      %b Joint Applicant:
      = @ulapp.joint_applicant
    %p
      %b Amount:
      = @ulapp.amount
    %p
      %b Purpose:
      = @ulapp.purpose
    %p
      %b First name:
      = @ulapp.first_name
    %p
      %b Last name:
      = @ulapp.last_name
    %p
      %b Date of Birth:
      = @ulapp.dob
    %p
      %b SSN:
      = @ulapp.ssn
    %p
      %b SFCU Account:
      = @ulapp.sfcu_account
    %p
      %b Name relative:
      = @ulapp.name_relative
    %p
      %b Phone relative:
      = @ulapp.phone_relative
    %p
      %b Mothers Madien Name:
      = @ulapp.mothers
    %p
      %b Graduation:
      = @ulapp.graduation
    %p
      %b Local Address:
      = @ulapp.local_address_line1.to_s + " " + @ulapp.local_address_line2.to_s + ", " + @ulapp.local_address_city.to_s + ", " + @ulapp.local_address_state.to_s + ", " + @ulapp.local_country.to_s
    %p
      %b Permanent Address:
      - if @ulapp.perm_address_line1.nil?
        = " "
      - else
        = @ulapp.perm_address_line1.to_s + " " + @ulapp.perm_address_line2.to_s + ", " + @ulapp.perm_address_city.to_s + ", " + @ulapp.perm_address_state.to_s + ", " + @ulapp.perm_country.to_s
    %p
      %b E_mail:
      = @ulapp.e_mail
    %p
      %b Phone Number:
      = @ulapp.phone_number.to_s + ", " + @ulapp.phone_type.to_s
    %p
      %b Alternative Phone Number:
      - if @ulapp.alter_number.nil?
        = " "
      - else
        = @ulapp.alter_number.to_s + "  " + @ulapp.alter_type.to_s
    %p
      %b EmployerI:
    %p
      %b Employer:
      = @ulapp.employer
    %p
      %b Employer Address:
      - if @ulapp.employee_address_line1.nil?
        = "  "
      - else
        = @ulapp.employee_address_line1.to_s + ", " + @ulapp.employee_address_line2.to_s + ", " + @ulapp.employee_address_city.to_s + ", " + @ulapp.employee_address_state.to_s + ", " + @ulapp.employee_country.to_s
    %p
      %b Position:
      = @ulapp.position
    %p
      %b Supervisor:
      = @ulapp.supervisor_firstname.to_s + ", "+ @ulapp.supervisor_lastname.to_s
    %p
      %b Grosspay:
      = @ulapp.grosspay
    %p
      %b Grosspay Disbursement:
      = @ulapp.disbursement
    %p
      %b Starting Date:
      = @ulapp.startingdate
    %p
      %b Will this job continue for term of this loan?:
      = @ulapp.continue
    %p
      %b If "No", please list expected duration:
      = @ulapp.no
    %p
      %b Additional Information:
      = @ulapp.additional
    %p
      %b EmployerII:
    %p
      %b Employer:
      = @ulapp.employer2
    %p
      %b Employer Address:
      - if @ulapp.employee2_address_line1.nil?
        = "  "
      - else
        = @ulapp.employee2_address_line1.to_s + ", " + @ulapp.employee2_address_line2.to_s + ", " + @ulapp.employee2_address_city.to_s + ", " + @ulapp.employee2_address_state.to_s + ", " + @ulapp.employee2_country.to_s
    %p
      %b Position:
      = @ulapp.position2
    %p
      %b Supervisor:
      = @ulapp.supervisor2_firstname.to_s + ", " + @ulapp.supervisor2_lastname.to_s
    %p
      %b Grosspay:
      = @ulapp.grosspay2
    %p
      %b Grosspay Disbursement:
      = @ulapp.disbursement2
    %p
      %b Starting Date:
      = @ulapp.startingdate2
    %p
      %b Will this job continue for term of this loan?:
      = @ulapp.continue2
    %p
      %b If "No", please list expected duration:
      = @ulapp.no2
    %p
      %b Additional Income I:
      = "Source: " + @ulapp.source1.to_s + ", Amount: " + @ulapp.amount1.to_s
    %p
      %b Additional Income II:
      = "Source: " + @ulapp.source2.to_s + ", Amount: " + @ulapp.amount2.to_s
    %p
      %b Additional Income III:
      = "Source: " + @ulapp.source3.to_s + ", Amount: " + @ulapp.amount3.to_s
    %p
      %b Bank Account I:
    %ul
      %li Name of Depository: #{@ulapp.depository1}
      %li Type of Account: #{@ulapp.account_type1}
      %li Current Balance: #{@ulapp.balance1}
    %p
      %b Bank Account II:
    %ul
      %li Name of Depository: #{@ulapp.depository2}
      %li Type of Account: #{@ulapp.account_type2}
      %li Current Balance: #{@ulapp.balance2}
    %p
      %b Bank Account III:
    %ul
      %li Name of Depository: #{@ulapp.depository3}
      %li Type of Account: #{@ulapp.account_type3}
      %li Current Balance: #{@ulapp.balance3}
    %p
      %b Property Owned I:
    %ul
      %li Address: #{@ulapp.addr1}
      %li Market Value: #{@ulapp.market_value1}
      %li Pledged as Collateral for Another Loan?: #{@ulapp.pledged1}
    %p
      %b Property Owned II:
    %ul
      %li Address: #{@ulapp.addr2}
      %li Market Value: #{@ulapp.market_value2}
      %li Pledged as Collateral for Another Loan?: #{@ulapp.pledged2}
    %p
      %b Property Owned III:
    %ul
      %li Address: #{@ulapp.addr3}
      %li Market Value: #{@ulapp.market_value3}
      %li Pledged as Collateral for Another Loan?: #{@ulapp.pledged3}
    %p
      %b Creditor I:
    %ul
      %li Creditor Name: #{@ulapp.creditor1}
      %li Current Balance: #{@ulapp.cbalance1}
      %li Date of Next Payment: #{@ulapp.nextpayment1}
      %li Average Monthly Payment: #{@ulapp.avg1}
      %li Past Due: #{@ulapp.pastdue1}
      = @ulapp.creditor1
    %p
      %b Creditor II:
    %ul
      %li Creditor Name: #{@ulapp.creditor2}
      %li Current Balance: #{@ulapp.cbalance2}
      %li Date of Next Payment: #{@ulapp.nextpayment2}
      %li Average Monthly Payment: #{@ulapp.avg2}
      %li Past Due: #{@ulapp.pastdue2}
    %p
      %b Creditor III:
    %ul
      %li Creditor Name: #{@ulapp.creditor3}
      %li Current Balance: #{@ulapp.cbalance3}
      %li Date of Next Payment: #{@ulapp.nextpayment3}
      %li Average Monthly Payment: #{@ulapp.avg3}
      %li Past Due: #{@ulapp.pastdue3}
    %p
      %b Creditor IV:
    %ul
      %li Creditor Name: #{@ulapp.creditor4}
      %li Current Balance: #{@ulapp.cbalance4}
      %li Date of Next Payment: #{@ulapp.nextpayment4}
      %li Average Monthly Payment: #{@ulapp.avg4}
      %li Past Due: #{@ulapp.pastdue4}
    %p
      %b Loan Creditor I:
    %ul
      %li Creditor Name: #{@ulapp.loan_creditor1}
      %li Creditor Type: #{@ulapp.creditor_type1}
      %li Date of First Payment: #{@ulapp.first_payment1}
      %li Date of Last Payment: #{@ulapp.last_payment1}
      %li Monthly Payment: #{@ulapp.monthly1}
      %li Past Due: #{@ulapp.past_due1}
    %p
      %b Loan Creditor II:
    %ul
      %li Creditor Name: #{@ulapp.loan_creditor2}
      %li Creditor Type: #{@ulapp.creditor_type2}
      %li Date of First Payment: #{@ulapp.first_payment2}
      %li Date of Last Payment: #{@ulapp.last_payment2}
      %li Monthly Payment: #{@ulapp.monthly2}
      %li Past Due: #{@ulapp.past_due2}
    %p
      %b Expenses:
      %br
      = @ulapp.expenses
    %p
      %b File1:
      = @ulapp.file1
    %p
      %b File2:
      = @ulapp.file2
    %p
      %b File3:
      = @ulapp.file3
    %p
      %b File4:
      = @ulapp.file4
    %p
      %b File5:
      = @ulapp.file5
    %p
      %b File6:
      = @ulapp.file6

    .text-center
      = form_tag url_for(:controller => 'ulapps', :action => 'index'), method: 'get' do
        = submit_tag 'Back', class: "btn btn-primary"
