%p#notice= notice

%p
  %b Type:
  = @ulapp.credit_type
%p
  %b Joint applicant:
  = @ulapp.joint_applicant
%p
  %b Amount:
  = @ulapp.amount
%p
  %b Purpose:
  = @ulapp.purpose
%p
  %b First name:
  = @ulapp.first_name
%p
  %b Last name:
  = @ulapp.last_name
%p
  %b Dob:
  = @ulapp.dob
%p
  %b Ssn:
  = @ulapp.ssn
%p
  %b Sfcu account:
  = @ulapp.sfcu_account
%p
  %b Name relative:
  = @ulapp.name_relative
%p
  %b Phone relative:
  = @ulapp.phone_relative
%p
  %b Mothers:
  = @ulapp.mothers
%p
  %b Graduation:
  = @ulapp.graduation
%p
  %b Local address line1:
  = @ulapp.local_address_line1
%p
  %b Local address line2:
  = @ulapp.local_address_line2
%p
  %b Local address city:
  = @ulapp.local_address_city
%p
  %b Local address state:
  = @ulapp.local_address_state
%p
  %b Local address zip:
  = @ulapp.local_address_zip
%p
  %b Local country:
  = @ulapp.local_country
%p
  %b Perm address line1:
  = @ulapp.perm_address_line1
%p
  %b Perm address line2:
  = @ulapp.perm_address_line2
%p
  %b Perm address city:
  = @ulapp.perm_address_city
%p
  %b Perm address state:
  = @ulapp.perm_address_state
%p
  %b Perm address zip:
  = @ulapp.perm_address_zip
%p
  %b Perm country:
  = @ulapp.perm_country
%p
  %b E mail:
  = @ulapp.e_mail
%p
  %b Phone areacode:
  = @ulapp.phone_areacode
%p
  %b Phone number:
  = @ulapp.phone_number
%p
  %b Phone type:
  = @ulapp.phone_type
%p
  %b Alter areacode:
  = @ulapp.alter_areacode
%p
  %b Alter number:
  = @ulapp.alter_number
%p
  %b Alter type:
  = @ulapp.alter_type
%p
  %b Employer:
  = @ulapp.employer
%p
  %b Employee address line1:
  = @ulapp.employee_address_line1
%p
  %b Employee address line2:
  = @ulapp.employee_address_line2
%p
  %b Employee address city:
  = @ulapp.employee_address_city
%p
  %b Employee address state:
  = @ulapp.employee_address_state
%p
  %b Employee address zip:
  = @ulapp.employee_address_zip
%p
  %b Employee country:
  = @ulapp.employee_country
%p
  %b Position:
  = @ulapp.position
%p
  %b Supervisor firstname:
  = @ulapp.supervisor_firstname
%p
  %b Supervisor lastname:
  = @ulapp.supervisor_lastname
%p
  %b Grosspay:
  = @ulapp.grosspay
%p
  %b Disbursement:
  = @ulapp.disbursement
%p
  %b Startingdate:
  = @ulapp.startingdate
%p
  %b Continue:
  = @ulapp.continue
%p
  %b No:
  = @ulapp.no
%p
  %b Additional:
  = @ulapp.additional
%p
  %b Employer2:
  = @ulapp.employer2
%p
  %b Employee2 address line1:
  = @ulapp.employee2_address_line1
%p
  %b Employee2 address line2:
  = @ulapp.employee2_address_line2
%p
  %b Employee2 address city:
  = @ulapp.employee2_address_city
%p
  %b Employee2 address state:
  = @ulapp.employee2_address_state
%p
  %b Employee2 address zip:
  = @ulapp.employee2_address_zip
%p
  %b Employee2 country:
  = @ulapp.employee2_country
%p
  %b Position2:
  = @ulapp.position2
%p
  %b Supervisor2 firstname:
  = @ulapp.supervisor2_firstname
%p
  %b Supervisor2 lastname:
  = @ulapp.supervisor2_lastname
%p
  %b Grosspay2:
  = @ulapp.grosspay2
%p
  %b Disbursement2:
  = @ulapp.disbursement2
%p
  %b Startingdate2:
  = @ulapp.startingdate2
%p
  %b Continue2:
  = @ulapp.continue2
%p
  %b No2:
  = @ulapp.no2
%p
  %b Source1:
  = @ulapp.source1
%p
  %b Amount1:
  = @ulapp.amount1
%p
  %b Source2:
  = @ulapp.source2
%p
  %b Amount2:
  = @ulapp.amount2
%p
  %b Source3:
  = @ulapp.source3
%p
  %b Amount3:
  = @ulapp.amount3
%p
  %b Depository1:
  = @ulapp.depository1
%p
  %b Account type1:
  = @ulapp.account_type1
%p
  %b Balance1:
  = @ulapp.balance1
%p
  %b Depository2:
  = @ulapp.depository2
%p
  %b Account type2:
  = @ulapp.account_type2
%p
  %b Balance2:
  = @ulapp.balance2
%p
  %b Depository3:
  = @ulapp.depository3
%p
  %b Account type3:
  = @ulapp.account_type3
%p
  %b Balance3:
  = @ulapp.balance3
%p
  %b Addr1:
  = @ulapp.addr1
%p
  %b Market value1:
  = @ulapp.market_value1
%p
  %b Pledged1:
  = @ulapp.pledged1
%p
  %b Addr2:
  = @ulapp.addr2
%p
  %b Market value2:
  = @ulapp.market_value2
%p
  %b Pledged2:
  = @ulapp.pledged2
%p
  %b Addr3:
  = @ulapp.addr3
%p
  %b Market value3:
  = @ulapp.market_value3
%p
  %b Pledged3:
  = @ulapp.pledged3
%p
  %b Creditor1:
  = @ulapp.creditor1
%p
  %b Cbalance1:
  = @ulapp.cbalance1
%p
  %b Nextpayment1:
  = @ulapp.nextpayment1
%p
  %b Avg1:
  = @ulapp.avg1
%p
  %b Pastdue1:
  = @ulapp.pastdue1
%p
  %b Creditor2:
  = @ulapp.creditor2
%p
  %b Cbalance2:
  = @ulapp.cbalance2
%p
  %b Nextpayment2:
  = @ulapp.nextpayment2
%p
  %b Avg2:
  = @ulapp.avg2
%p
  %b Pastdue2:
  = @ulapp.pastdue2
%p
  %b Creditor3:
  = @ulapp.creditor3
%p
  %b Cbalance3:
  = @ulapp.cbalance3
%p
  %b Nextpayment3:
  = @ulapp.nextpayment3
%p
  %b Avg3:
  = @ulapp.avg3
%p
  %b Pastdue3:
  = @ulapp.pastdue3
%p
  %b Creditor4:
  = @ulapp.creditor4
%p
  %b Cbalance4:
  = @ulapp.cbalance4
%p
  %b Nextpayment4:
  = @ulapp.nextpayment4
%p
  %b Avg4:
  = @ulapp.avg4
%p
  %b Pastdue4:
  = @ulapp.pastdue4
%p
  %b Loan creditor1:
  = @ulapp.loan_creditor1
%p
  %b Creditor type1:
  = @ulapp.creditor_type1
%p
  %b First payment1:
  = @ulapp.first_payment1
%p
  %b Last payment1:
  = @ulapp.last_payment1
%p
  %b Monthly1:
  = @ulapp.monthly1
%p
  %b Past due1:
  = @ulapp.past_due1
%p
  %b Loan creditor2:
  = @ulapp.loan_creditor2
%p
  %b Creditor type2:
  = @ulapp.creditor_type2
%p
  %b First payment2:
  = @ulapp.first_payment2
%p
  %b Last payment2:
  = @ulapp.last_payment2
%p
  %b Monthly2:
  = @ulapp.monthly2
%p
  %b Past due2:
  = @ulapp.past_due2
%p
  %b Expenses:
  = @ulapp.expenses
%p
  %b Upload File1:
  = @ulapp.ulapp_file1
%p
  %b File1:
  = @ulapp.file1
%p
  %b File2:
  = @ulapp.file2
%p
  %b File3:
  = @ulapp.file3
%p
  %b File4:
  = @ulapp.file4
%p
  %b File5:
  = @ulapp.file5
%p
  %b File6:
  = @ulapp.file6
%p
  %b Yesorno:
  = @ulapp.yesorno
%p
  %b Signature:
  = @ulapp.signature

= link_to 'Edit', edit_ulapp_path(@ulapp)
\|
= link_to 'Back', ulapps_path
